*,*::before,*::after{padding: 0;margin: 0;border: 0;box-sizing: border-box;}a{text-decoration: none;}ul,ol,li{list-style: none;}h1,h2,h3,h4,h5,h6{font-weight: inherit;font-size: inherit;}html,body{height: 100%;line-height: 1;font-size: 16px;color: #373737;font-weight: 600;font-family: 'Open Sans', arial, sans-serif;}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
._container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
._container_width {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
.small__header {
    height: 40px;
    width: 100%;
    background-color: #001528;
    z-index: 100;
    border-bottom: 1px solid #4c6ba5;
}
.small__header_second {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    color: #f1f1f1;
    font-size: 16px;
    font-weight: 600;
}
.phone-number {
    padding: 11px 0 0 0;
    z-index: 100;
}
.phone-number > a {
    color: #f1f1f1;
}
.social-links__header {
    padding: 10px 0 0 0;
    /*margin-right: 20px;*/
    z-index: 50;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    /*background: ;*/
    background: #00274c;
}
.header a {
    color: #f1f1f1;
}
.header__title {
    display: inline;
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    flex: 0 0 200px;
    position: relative;
    z-index: 2;
    color: #f1f1f1;
    font-size: 24px;
}
.header__logo a {
    color: #f1f1f1;
}
.header__logo img{
    max-width: 100%;
}
.header__burger {

}
.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li {
    list-style: none;
}
.header__list li a {
    display: block;
    padding: 25px 10px;
    /*height: 100%;*/
}
.header__link {
    color: #f1f1f1;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}
nav.header__menu ul li a {
    position: relative;
}
nav.header__menu ul li a:hover {
    color: #fff;
    z-index: 1;
    transition: all 0.6s;
    background: #95b600;
}
ul li.active {
    background: #00274c;
}
/* Keyframes */
@-webkit-keyframes fill {
    0% {
        width: 0;
        height: 1px;
    }
    50% {
        width: 100%;
        height: 1px;
    }
    100% {
        width: 100%;
        height: 100%;
        background: #333;
    }
}
.page {
    flex: 1 1 auto;
}
.page__main-block {
    height:100%;
    position:fixed;
    width:100%;
    /*top:-10px;*/
    left:0;
    /* background-color: #000; */
}
.main-block__image img {
    height:100%;
    width:100%;
    left:0;
    /* background-blend-mode: luminosity; */
    background-color: #8fbd35;
    filter: invert(0.2);
}
.main-block__image-about_us img {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}
.contact-block__image img {
    height:100%;
    width:100%;
    left:0;
    border-radius: 0 0 60% 0;
}
.contact-block__image-about_us img {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}
.page__services{
    position: relative;
    z-index: 2;
    margin: -110px 0 0;
}
.page__vacancies{
    text-align: center;
}
.page__about-us{
    padding: 80px 0 0 0;
    position: relative;
}
.section_block {
    padding: 60px 0 50px 0;
}
.section_block_contact {
    position: relative;
    top: -10px;
    z-index: -1;
}
.page__advice{
    background: #f1f1f1;
    padding: 70px 0;
    position: relative;
}
.page__vacancy{
    position: relative;
    /*padding: 50px 0 0 0;*/
}
._ibg-about_us img {
    position: absolute;
    width: 65%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.block_instruction {
    display: flex;
    justify-content: space-between;
}
.text_block {
    flex: 0 1 50%;
}

.how_to_join {
    padding: 20px 0;
    transition: all 0.5s ease 0s;
}
.title_instruction {
    padding: 80px 0 0 0;
    font-size: 32px;
    font-weight: 600;
}
.text_instruction {
    line-height: 142%;
    padding: 20px 50px 0 0;
    font-size: 24px;
    font-weight: 400;
    color: #adadad;
}
.img_block {
    flex: 0 1 50%;
}
.img_block img {
    width: 70%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.page__services {
    padding: 230px 0 0 0;
    background-color: #f1f1f1;
}
.page__about-us_second {

}
.double_section {
    display: flex;
}
.header-block {
    letter-spacing: 0.2px;
    font-size: 20px;
    padding: 0 150px 40px 150px;
    text-align: left;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}
.header-block_left {
    flex: 0 1 50%;
    letter-spacing: 0.2px;
    font-size: 20px;
    padding: 0 20px 40px 0;
    text-align: left;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}
.video_block {
    flex: 0 1 50%;
    padding-left: 20px;
    padding-top: 120px;
}
.first_block {
    /*flex: 0 1 73%;*/
}
.second_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 0 0  0;
    /*flex: 0 1 25%;*/
}
.footer-block {
    letter-spacing: 0.2px;
    font-size: 20px;
    padding: 60px 0 100px 0;
    text-align: left;
}
.header-block__title > a > i{
    line-height: 142%;
    font-weight: 600;
    font-size: 24px;
    padding: 0 0 0 10px;
}
.video__section {
    margin-right: auto;
    margin-left: auto;
    display: flex;
}
.video__block {
    padding: 0 10%;
}
.video__item {
    width: 100%;
}
.line__before {
    border-left: 2px solid #4C6BA5;
    height: 50px;
    position: relative;
    left: 0;
    top: 0;
}
.line__under_left {
    border-bottom: 2px solid #4C6BA5;
    position: relative;
    width: 200px;
    left: 0;
    top: 0;
}
.line__under_center {
    border-bottom: 2px solid #4C6BA5;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.advice__title{
    line-height: 182%;
    font-weight: 600;
    font-size: 24px;
}
.header-block__title:not(:last-child) {
    line-height: 142%;
    font-weight: 600;
    font-size: 22px;
    margin: 0 0 10px 0;
}
.header-block__sub-title {
    line-height: 142%;
    padding: 10px 0;
    color: #4C6BA5;
}
.header-block__sub-title {
    line-height: 142%;
    padding: 10px 0;
    font-size: 22px;
}
.header-block__sub-text {
    line-height: 142%;
    padding: 10px 0 10px 0;
    font-size: 26px;
    font-weight: 400;
}
.first_child {
    padding-top: 40px;
}
.header-block__sub-text__advice {
    text-align: left;
    line-height: 142%;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
}
.accordion__button {
    font-size: 38px;
    background-color: white;
}
.header-block__info {
    justify-content: center;
    letter-spacing: 0.2px;
    font-size: 20px;
    text-align: left;
    /*display: flex;*/
    flex-wrap: wrap;
    padding: 50px 0;
}
.info__container {
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.page__info {
    margin: 60px 0 0 0 ;
}
.info__block {
    flex: 0 1 25%;
    height: 300px;
    display: flex;
    perspective: 4000px;
    position: relative;
}
.info__title{
    line-height: 142%;
    font-weight: 600;
    font-size: 36px;
}
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    border: 1px solid #e0e0e0;
    justify-content: center;
    align-items: center;
    -webkit-transition: 1.2s;
    -moz-transition: 1.2s;
    -ms-transition: 1.2s;
    -o-transition: 1.2s;
    transition: 1.2s;
    backface-visibility: hidden;
}
.front {
    background-color: #f5f5f5;
}
.back {
    padding: 20px;
    line-height: 1.5;
    font-size: 20px;
    background-color: #ececec;
    transform: rotateY(180deg);
}
.info__block:hover .front {
    transform: rotateY(180deg);
}
.info__block:hover .back {
    transform: rotateY(360deg);
}
.number {
    font-size: 2em;
    padding: 0 0 25px;
    font-weight: bold;
    opacity: 0;
}
.cards_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.horizontal_line {
    border-top: 1px solid #4C6BA5;
    padding: 10px;
    margin: 10px 0 0 0 ;
}
.horizontal_line_thick {
    border-top: 4px solid #071221;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.horizontal_line-weight {
    border-top: 2px solid #4C6BA5;
    padding: 10px;
    margin: 10px 0 0 0 ;
}
.horizontal_line-white {
    border-top: 2px solid #f1f1f1;
    padding: 10px;
}
.horizontal_line-dark {
    border-top: 2px solid #071221;
    padding: 10px;
}
.horizontal_line-half-dark {
    border-top: 2px solid #071221;
    padding: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.cards_block {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 90px 0;
    justify-content: space-around;
    width: 100%;
}
.card_block {
    flex: 0 1 25%;
    /* margin: 15px; */
    padding: 10px;
    /* flex: 0 1 23%; */
}
.card_block_item {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    border-radius: 25px;
    box-shadow: 8px 5px 8px #00000054;
    padding: 10px;
    height: 100%;
    
}
.photo_employee img {
    width: 100%;
    height: auto;
}
.name_employee {
    padding: 10px 0;
}
.job_employee {
    padding: 20px 0 10px 0;
    color: #4D85ED;
}
.text_employee {
    padding: 20px 0 10px 0;
    color: #DEDEDE;
    font-weight: 400;
    line-height: 1.5;
}
.social-links_employee {
    padding: 30px 0 0 0;
}
.social__item-employee {
    color: #4D85ED;
    font-size: 20px;
    font-weight: 400;
    padding: 0 10px 0 0 ;
}
.central_link {
    padding: 40px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.central_link .link{
    background-color: #3A5199;
}
.link {
    padding: 10px 20px;
}
.central_block {
    text-align: center;
}
.our__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.info__card {
    flex: 0 1 33%;
    width: 100%;
    padding: 80px 20px 20px 20px;
    text-align: center;
}
.info__card:nth-child(2) {
    padding: 20px;
}
.info__card:nth-child(5) {
    padding: 20px;
}
.info__image img {
    width: 80%;
    height: auto;
}
.info__card .info__text {
    padding: 20px 0 0 0;
    line-height: 1.5;
}
.project__block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project__img {
    flex: 0 1 50%;
    text-align: center;
}
.project__img img {
    width: 70%;
    height: auto;
}
.text__section {
    flex: 0 1 50%;
    padding: 130px 0 0 0;
}
.project__title {
    font-size: 36px;
    padding: 0 0 30px 0;
}
.project__text li {
    list-style-type: disc;
    padding: 20px 0 0 0;
    font-size: 20px;
}
.project__text {
    padding: 0 0 0 40px;
    font-weight: 400;
}
.link__container {
    display: flex;
    justify-content: center;
}
.page__numbers {
    background: linear-gradient(45deg, #042c3d, #005778);
    color: #f1f1f1;
}
.numbers__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.numbers__block {
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0;
}
.numbers__title {
    font-size: 52px;
    text-align: center;
}
.numbers__text {
    padding: 15px 0 0 0;
    font-size: 22px;
    text-align: center;
}
.cards_image_section {
    display: flex;
    justify-content: center;
    text-align: center;
}
.card_image {
    /* margin: 15px; */
    /* padding: 20px; */
    flex: 0 1 25%;
    /* transition: 0.8s; */
}
.card_image-text {
    font-size: 22px;
    padding: 30px 0 0 0;
}
.image_image_section {
    display: flex;
    justify-content: center;
    height: 250px;
    text-align: center;
}
.image_image {
    margin: 15px;
    padding: 20px;
    flex: 0 1 20%;
    display: flex;
    align-items: center;
}
.photo-image_image img {
    height: auto;
    width: 100%;
}
.comments {
    background-color: #142235;
    color: #f1f1f1;
}
.recommended_item.hidden {
    display: none;
}
.card.hidden {
    display: none;
}
.hidden {
    display: none;
}
.cards_comments_section {
    padding: 20px 0 30px 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.card_comment {
    padding: 20px 20px 110px 20px;
    margin: 10px;
    flex: 0 1 33.33%;
    position: relative;
    background-color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: background-color 0.5s, transform 0.5s, padding 0.5s;
}
.card_comment:hover {
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.3);
    background-color: #f8f8f8;
    transition: background-color 0.5s, transform 0.5s, padding 0.5s;
    transform: scale(1.04);
}
.card_comment .comment_text {
    transition: transform 0.5s;
}
.card_comment:hover .comment_text {
    transition: transform 0.5s;
    transform: scale(0.96);
}
.comment_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
.user_data {
    position: absolute;
    bottom: 0;
    padding: 10px 0 15px 0;
    display: flex;
    justify-content: left;
}
.user_image img {
    width: 80px;
    border-radius: 100px;
}
.user_text {
    display: flex;
    padding: 0 0 0 15px;
    /*flex-direction: column;*/
    text-align: left;
    align-items: center;
}
.user_name {
    flex-wrap: wrap;
    font-size: 24px;
    font-weight: 600;
    color: #4C6BA5;
}
.company_name {
    padding: 10px 0 0 0;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 600;
}
.user_stars {
    text-align: left;
    color: #fcb900;
}
.main-block {
    position: relative;
}
.main-block__body {
    padding: 200px 0 200px 0;
    position: relative;
    z-index: 1;
}
.main-block__card {
    justify-content: end;
    padding: 50px;
}
.main-block__body > *:not(:last-child) {
    margin: 0 0 25px 0;
}
.main-block__title {
    padding: 10px 0 30px 0;
    /*color: #f1f1f1;*/
    font-size: 52px;
    letter-spacing: 0.2px;
    line-height: calc(80 / 58 * 100%);
    font-weight: 600;
    color: #ffffff;
    text-align: right;
    text-shadow: 3px 2px 3px #202021;
}
.price-block__body {
    padding: 80px 0 150px 0;
    position: relative;
    z-index: 1;
}
.price-block__title {
    font-size: 48px;
    text-align: center;
    padding-bottom: 25px;
}
.price-block__info {
    font-size: 22px;
}
.text_block_price > ul > li {
    display: flex;
    padding-top: 15px;
    font-weight: 400;
    font-size: 26px;
}
.text_block_price  span {
    flex: 0 1 30%;
    font-size: 28px;
    /* padding-right: 50px; */
    font-weight: 600;
}
.text_block_price  p {
    flex: 0 1 70%;
}
.text_block_price {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.ul_block {
    flex: 0 1 50%;
    padding: 10px 15px;
}
.courses_title_text {
    color: #f1f1f1;
    line-height: 1.5;
    max-width: 50%;
    padding-bottom: 50px;
    font-size: 18px;
    font-weight: 400;
}
.other-block__title {
    padding: 150px 0 30px 0;
    color: #f1f1f1;
    font-size: 48px;
    letter-spacing: 0.2px;
    line-height: calc(80 / 58 * 100%);
    font-weight: 600;
}
.main-block__title-second {
    padding: 10px 0;
    color: #4C6BA5;
    font-size: 26px;
    letter-spacing: 0.2px;
    line-height: calc(80 / 58 * 100%);
    font-weight: 600;
}
.main-block__text {
    padding: 5px 0 10px 0;
    color: #f1f1f1;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.main-block__info {
    display: flex;
}
.button_block {
    flex: 0 1 50%;
}
.text_block {
    flex: 0 1 50%;
    background: linear-gradient(45deg, #002d3f, #00567b);
    padding: 15px;
    border-radius: 25px;
}
.text_block > ul > li {
    padding: 8px 0 8px 10px;
    font-size: 26px;
    font-weight: 400;
    color: #fff;
}
.main-block__buttons {
    font-weight: 400;
    font-size: 14px;
}
.main-block__buttons a {
    color: #f1f1f1;
}
.main-block__buttons i {
    padding: 0 0 0 10px;
}
.main-block__buttons:nth-child(3n) {
    flex: 0 1 20%;
}
.card_section {
    padding: 20px;
}
.main-block__button_mid {
    position: relative;
    border-radius: 25px;
    padding: 10px 0;
    color: #f1f1f1;
    background: linear-gradient(45deg, #8eb01c, #479330);
    font-size: 18px;
    transition: background-color 0.5s;
    overflow: hidden;
    text-decoration: none;
    width: 180px;
    display: block;
    text-align: center;
    cursor: pointer;
}
.main-block__button_mid:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #ffffff71, transparent);
    transform: translateX(-350px) skew(-20deg);
    transition: transform 0.5s;
}
.main-block__button_mid:hover:before {
    transform: translateX(550px) skew(-20deg);
}
.main-block__button_mid:hover {
    background: linear-gradient(45deg, #809f1a, #3d7e2a);
}


.main-block__button_lg {
    position: relative;
    border-radius: 30px;
    padding: 15px 0;
    color: #f1f1f1;
    background: linear-gradient(45deg, #8eb01c, #479330);
    font-size: 22px;
    transition: background-color 0.5s;
    overflow: hidden;
    text-decoration: none;
    width: 300px;
    display: block;
    text-align: center;
    cursor: pointer;
}
.main-block__button_lg:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #ffffff71, transparent);
    transform: translateX(-350px) skew(-20deg);
    transition: transform 0.5s;
}
.main-block__button_lg:hover:before {
    transform: translateX(550px) skew(-20deg);
}
.main-block__button_lg:hover {
    background: linear-gradient(45deg, #9bc01e, #4d9f34);
}
.main-block__button_small {
    position: relative;
    border-radius: 30px;
    padding: 15px 0;
    color: #f1f1f1;
    background: linear-gradient(45deg, #8eb01c, #479330);
    font-size: 18px;
    transition: background-color 0.5s;
    overflow: hidden;
    text-decoration: none;
    width: 150px;
    display: block;
    text-align: center;
    cursor: pointer;
}
.main-block__button_small:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #ffffff71, transparent);
    transform: translateX(-250px) skew(-20deg);
    transition: transform 0.5s;
}
.main-block__button_small:hover:before {
    transform: translateX(250px) skew(-20deg);
}
.main-block__button_small:hover {
    background: linear-gradient(45deg, #9bc01e, #4d9f34);
}
.hidden_button {
    visibility: hidden
}

.main-block__button_lg-blue {
    position: relative;
    border-radius: 30px;
    padding: 15px 0;
    color: #f1f1f1;
    background: linear-gradient(45deg, #002d3f, #00567b);
    font-size: 22px;
    transition: background-color 0.5s;
    overflow: hidden;
    text-decoration: none;
    width: 450px;
    display: block;
    text-align: center;
}
.main-block__button_lg-blue:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #ffffff71, transparent);
    transform: translateX(-350px) skew(-20deg);
    transition: transform 0.5s;
}
.main-block__button_lg-blue:hover:before {
    transform: translateX(550px) skew(-20deg);
}
.main-block__button_lg-blue:hover {
    background: linear-gradient(45deg, #00435e, #006b9a);
}
.main-block__button_mid-blue {
    position: relative;
    border-radius: 25px;
    padding: 15px 0;
    color: #f1f1f1;
    background: linear-gradient(45deg, #002d3f, #00567b);
    font-size: 18px;
    overflow: hidden;
    text-decoration: none;
    width: 110px;
    display: block;
    text-align: center;
}
.main-block__button_mid-blue:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #ffffff71, transparent);
    transform: translateX(-350px) skew(-20deg);
    transition: transform 0.5s;
}
.main-block__button_mid-blue:hover:before {
    transform: translateX(200px) skew(-20deg);
}
.main-block__button_mid-blue:hover {
    background: linear-gradient(45deg, #00435e, #006b9a);
}

.card_button-blue {
    position: relative;
    border-radius: 25px;
    padding: 10px 0;
    width: 90%;
    color: #f1f1f1;
    background: linear-gradient(45deg, #002d3f, #00567b);
    font-size: 16px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 0.5s;
    overflow: hidden;
    text-decoration: none;
}
.card_button-blue:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #ffffff71, transparent);
    transform: translateX(-350px) skew(-20deg);
    transition: transform 0.5s;
}
.card_button-blue:hover:before {
    transform: translateX(350px) skew(-20deg);
}
.card_button-blue:hover {
    background: linear-gradient(45deg, #00435e, #006b9a);
}



.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.button_modal .main-block__button_mid-blue {
    float: right;
}
.contact-block__body {
    display: flex;
    justify-content: space-between;
}
.contact-block__card {
    flex: 0 1 49%;
    z-index: 1;
    /*padding: 200px 0 200px 0;*/
    padding: 230px 0 180px 0;
}
.form__card {
    background-color: rgba(241, 241, 241, 0.7);
    padding: 20px;
    border-radius: 20px;
}
.service_block {
    padding: 30px 0;
}
.service_img {
    display: block;
    padding: 10px 0;
    flex: 0 1 30%;
}
.service_img img{
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.service_title {
    padding: 20px 0 0 0;
    font-size: 18px;
    text-align: center;
}
.service_text {
    flex: 0 1 70%;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 60px 0 0 0;
    line-height: 1.5;
}
.services__column{
    padding: 0 15px;
    flex: 0 1 25%;
    margin: 0 0 30px 0;
}
.services__item{
    height: 100%;
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    padding: 20px;
    transition: 0.8s;
}
.services__item:hover{
    transform: scale(1.1);
    box-shadow: 0 15px 22px rgba(0, 0, 0, 0.19);
}
.item-service > *:not(:last-child) {
    margin: 0 0 10px 0;
}
.item-service__icon img {
    width: auto;
    height: 200px;
}
.item-service__icon {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.item-service__title{
    font-weight: 600;
    letter-spacing: 0.1px;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: #0033a2;
}
.about-us__body{
    display: flex;
    flex-wrap: wrap;
}
.about-us__header{
    padding: 30px 0 0 0;
}
.advice__header{
    margin: 0 0 50px 0;
}
.vacancy__form{
    display: flex;
    padding: 50px 0 0 0;
}
.contact_form{
    width: 50%;
}
.vacancy__form-items {
    flex: 0 1 70%;
    padding: 0 100px;
    margin-left: auto;
    margin-right: auto;
    color: #f1f1f1;
}
.about-us__column{
    padding: 0 15px;
    margin: 0 0 30px 0;
}
.about-us__icon {
    text-align: center;
    padding: 10px;
    flex: 0 1 50%;
    margin: 0 0 30px 0;
}
.about-us__icon img {
    justify-content: center;
    width: 250px;
    height: auto;
    transition: 0.8s;
}
.about-us__icon img:hover {
    justify-content: center;
    height: auto;
    transform: scale(1.2);
}
.tester__icon {
    text-align: center;
    padding: 10px;
    flex: 0 1 100%;
    margin: 0 0 30px 0;
}
.tester__icon img {
    justify-content: center;
    width: 300px;
    height: auto;
    transition: 0.8s;
}
.tester__icon img:hover {
    justify-content: center;
    height: auto;
    transform: scale(1.2);
}
.main-block__body-about-us {
    padding: 250px 0 250px 0;
    position: relative;
    z-index: 1;
}
.main-block__card-about-us {
    margin: 0 0 0 5%;
    width: 50%;
    padding: 50px;
    background-color: #142235B3;
}
.main-description__about-us {
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    height: 100%;
    background-color: #142235;
    z-index: 3;
    color: white;
    padding: 170px 30px 0 30px;
}
.text_string {
    padding: 20px 0 0 0;
    font-size: 16px;
    font-weight: 400;
}
.about_us-string_section {
    padding: 40px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.string_section-img {
    flex: 0 1 20%;
}
.string_section-img img {
    margin: 10px 0 0 0;
    width: auto;
    height: 80px;
}
.string_section {
    flex: 0 1 80%;
}
.string_section-title {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}
.string_section-text {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.page__about-us_second {
    background-color: #f1f1f1;
}
.header-block__title{
    text-align: center;
    line-height: 142%;
    font-weight: 600;
    font-size: 40px;
    padding: 8px 0 0 0;
}
.header-block__text{
    line-height: 142%;
    font-size: 16px;
    padding: 8px 0 0 15px;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    font-weight: 400;
    text-align: center;
}
.header-block__text_last-section{
    line-height: 142%;
    font-size: 20px;
    padding: 8px 15px 0 15px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 400;
    width: 70%;
    text-align: center;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}
.card {
    flex: 0 1 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_item {
    height: 100%;
    margin: 15px;
    border-radius: 5px;
    background-color: rgba(0, 25, 36, 0.02);
    box-shadow: 1px 9px 9px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: 0.4s;
    /*margin: 20px;*/
}
.card_item:hover {
    transform: scale(1.05);
    box-shadow: 2px 11px 11px rgba(0, 0, 0, 0.4);

}
.card_img {
    flex: 0 1 230px;
    /* height: 260px; */
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
}
.card_img img {
    margin: 25px;
    flex: 1 1 auto;
    width: 50%;
    height: auto;
    object-fit: cover;
    transition: 0.4s;
}
.card_item:hover .card_img img {
    margin-top: 2px;
    width: 92%;
    height: 92%;
}
.card_item:hover .card_img_toll img {
    margin-top: 2px;
    width: 92%;
    height: 92%;
}
.card_img_title {
    padding: 10px;
    position: absolute;
    bottom: -10px;
    right: 0;
    font-size: 20px;
}
.card_company_name {
    padding: 0 20px 10px 20px;
    font-size: 12px;
    color: #6A6868;
    font-weight: 400;
    /*padding-bottom: 10px;*/
}
.card_title {
    flex: 0 1 30%;

    /* position: relative; */
    /* top: -20px; */
    padding: 0 20px 30px 20px;
    text-align: center;
    font-size: 20px;
}
.card_text {
    flex: 0 1 20%;
    /* position: relative; */
    /* bottom: 20px; */
    text-align: center;
    font-size: 16px;
    /* text-align: justify; */
    padding: 0 10px 10px 10px;
    font-weight: 400;

}
.card_level {
    padding: 0 10px 10px 10px;
    font-size: 16px;
    font-weight: 400;
}
.card_time_section {
    display: flex;
    flex-wrap: wrap;
    /*position: absolute;*/
    /*bottom: 55px;*/
    font-weight: 400;
    padding-bottom: 70px;
}
.card_days {
    flex: 0 1 50%;
    padding-left: 22px;
}
.card_days span {
    padding-left: 2px;
}
.card_hours {
    flex: 0 1 50%;
}
.card_speed {
    flex: 0 1 100%;
    padding: 5px 0 0 20px;
}
.card_button {
    padding-bottom: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    width: 100%;
}
.course_comments {
    background-color: rgba(0, 119, 136, 0.4);
}
.time_data_section {
    background-color: rgba(0, 119, 136, 0.4);
}
.cards__block {
    display: flex;
    padding: 0 35px 50px 35px;
}
.time_data_block {
    display: flex;
    padding: 50px 0;
}
.item_data {
    flex: 0 1 20%;
    text-align: center;
    border-right: 3px solid #01274C;
    padding: 0 5px;
    position: relative;
}
.item_data:last-child {
    border-right: none;
}
.title_item_data {
    font-size: 26px;
    padding: 20px 0 10px 0;
}
.text_item_data {
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0 20px 0;
    bottom: 0;
}
.comments_block {
    position: relative;
}
.nav_arrows {
    position: relative;
}
.nav_arrows .arrow_comments_block {
    font-size: 72px;
}
.arrow_comments_block {
    position: absolute;
    width: 100%;
    font-size: 56px;
    /*color: ;*/
}
.arrow_comments_block .arrow_left {
    top: 150px;
    /*left: -20px;*/
}
.arrow_comments_block .arrow_right {
    top: 150px;
    /*right: -20px;*/
}
.arrow_left {
    position: absolute;
    top: 100px;
    left: 0;
    cursor: pointer;
    transition: background-color, transform 0.5s;
}
.arrow_right {
    position: absolute;
    top: 100px;
    right: 0;
    cursor: pointer;
}
.arrow_left:hover {
    transition: background-color, transform 0.5s;
    transform: scale(1.25);
}
.arrow_right:hover {
    transition: background-color, transform 0.5s;
    transform: scale(1.25);
}
.courses_comments {
    padding: 0 50px 70px 50px;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.piece_of_comment {
    flex: 0 1 33.33%;
}
.courses_comment {
    padding: 20px 20px 20px 20px;
    margin: 10px;
    flex: 0 1 33.33%;
    position: relative;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.5s;
}
.courses_comment:hover {
    transform: scale(1.04);
    transition: transform 0.5s;
}
.card_img_title_second {
    font-size: 20px;
    padding: 0 20px 10px 20px;
}
.comment_item {
    margin: 0 10px;
    background-color: #EFEFEF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.19);
}
.carousel_class {
    animation-name: comments_carousel;
    animation-duration: 1s;

}
@keyframes comments_carousel{
    0% {
        padding: 0;
    }
    50% {
        padding: 15px;
    }
    100% {
        padding: 50px;
    }
}
.user_data_block {
    display: flex;
}
.user_avatar {
    flex: 0 1 40px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    position: relative;
}
.user_avatar img {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.other_user_data {
    flex: 0 1 70%;
    padding-left: 10px;
}
.user_comment_name {
    font-size: 14px;
    line-height: 1.5;
}
.comment_date {
    font-size: 10px;
    color: #BFAE9B;
}
.course_name {
    padding: 10px 10px 10px 0;
    font-size: 12px;
    color: #939393;
}
.comment_text {
    font-size: 12px;
    font-weight: 400;
}

.icons_block {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding-bottom: 70px;
}
.icons {
    display: flex;
}
.icon {
    text-align: center;
    flex: 0 1 30.33%;
    font-size: 45px;
}
.icon a {
    color: #001762;
}
.last_text_section {
    padding-top: 30px;
}
.data_of_section {
    padding: 20px 0;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.section_title {
    font-size: 26px;
}
.detail_section {
    padding-top: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    width: 70%;
}
.detail_section ul li {
    padding-top: 5px;
    font-size: 18px;
    font-weight: 400;
}
.text__info {
    padding-top: 30px;
}
.about-us-block__title {
    line-height: 142%;
    font-weight: 600;
    font-size: 26px;
    padding: 30px 0 0 15px;
    text-align: center;
}
.about-us-block__sub-text {
    line-height: 142%;
    padding: 20px 0 60px 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.svg_first {
    position: relative;
    bottom: -5px;
    transform: rotate(180deg);
    line-height: 0;
    height: 100px;
    width: 100%;
}
.svg_second {
    position: relative;
    line-height: 0;
    height: 100px;
    width: 100%;
}
.elementor-shape-fill {
    fill: #142235;
    margin: 0 0 -5px 0;
}
.text-section {
    text-align: left;
}
.text-section__title {
    padding: 30px 0 0 0;
    font-size: 42px;
}
.text-section__text {
    padding: 20px 0 0 0;
    font-size: 32px;
}
.text-section-link__block {
    padding: 70px 0 120px 0;
    text-align: left;
    font-weight: 400;
}
.vacancy__link {
    background-color: #fff;
    color: #343434;
}
.vacancy-block__button {
    background-color: #142235;
    padding: 10px 15px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}
.vacancy-block__button a{
    z-index: 50;
}
.vacancy-block__button a {
    color: #f1f1f1;
}
.about-us__header {
    text-align: center;
}
.block {
    border-radius:0;
    padding: 0;
    position: relative;
    color: #fff;
}
.block::after {
    content: '';
    position: absolute;
    left: 50%; bottom: 0;
    margin-left: -80px;
    border: 80px solid transparent;
    border-bottom: 60px solid #142235;
    z-index: 0;
}
.buttons_line_section {
    padding: 50px 0;
}
.buttons_line {
    border-bottom-width: 4px;
    border-bottom-style: dotted;
}
.header-block_padding {
    padding: 40px 0 0 0;
}
.contact__block {
    display: flex;
    padding: 70px 0;
}
.contact__text {
    flex: 0 1 100%;
    padding: 0 20px 0 40px;
}
.contact__title {
    padding: 0 20px 0 40px;
}
.vacancy__block {
    display: flex;
    padding: 50px 0;
}
.advice__text {
    background: #fff;
    border: 2px solid #9e9fa6;
    flex: 0 1 75%;
    padding: 0 20px 0 40px;
}
.vacancy__text {
    background: #fff;
    border: 1px solid #9e9fa6;
    flex: 0 1 75%;
    padding: 0 25px 0 25px;
}
.vacancy-side_bar {
    flex: 0 1 25%;
    margin: 0;
    padding: 0 0 0 10px;
}
.vacancy__title{
    line-height: 182%;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding: 10px;
}
.vacancy__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.vacancy__icon {
    flex: 0 1 25%;
    /*height: 200px;*/
}
.vacancy_icon {
    text-align: center;
    font-size: 45px;
    padding: 15px;
}
.vacancy_block-text {
    text-align: center;
    font-size: 22px;
    width: 100%;
}
.vacancy__data {
    padding: 10px 15px 60px 15px;
}
.vacancy_icons {
    display: flex;
    justify-content: space-between;
}
.vacancy_icon {
    flex: 0 1 33.33%;
    flex-wrap: wrap;
}
.vacancy_icon img {
    width: 70%;
    height: auto;
}
.header-side_bar {
    background: #fff;
    border: 1px solid #9e9fa6;
    padding: 0 40px 20px 20px;
}
.side_bar-head {
    height: 70px;
    background: #3A5199;
    border: 1px solid #9e9fa6;
}
.logo_text {
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 25px;
}
.side_bar-head_title {
    padding: 10px 0 0 0;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.side_bar-title {
    padding: 20px 0 0 0;
    font-size: 18px;
    color: #3A5199;
}
.side_bar-box {
    display: flex;
    padding: 15px 0 0 0;
    border-bottom: 1px solid #9e9fa6;
}
.side_bar-icon {
    flex: 0 1 20%;
    font-size: 38px;
    width: 20%;
}
.side_bar-text {
    flex: 0 1 80%;
    margin: 10px 0 0 15px;
    font-size: 20px;
    font-weight: 400;
}
.advantages{
    padding: 50px 0;
}
.vacancies__header {
    font-size: 20px;
    padding: 0 0 40px 0;
    text-align: center;
}
.advantages__header{
    margin: 0 0 50px 0;
}
.advantages__body{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.advantages__column{
    padding: 0 15px;
    margin: 0 0 30px 0;
    flex: 0 1 25%;
}
.advantages__item{
    background-color: #fff;
    padding: 30px 40px;
    text-align: center;
    transition: 0.8s;
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
}
.advantages__item:hover{
    transform: scale(1.1);
    box-shadow: 0 15px 22px rgba(0, 0, 0, 0.19);
}
.advantages__item > *:not(:last-child) {
    margin: 0 0 10px 0;
}
.advantages__value{
    font-size: 40px;
    line-height: 142%;
}
.clients{
    padding: 50px 0;
}
.clients__items{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.clients__item{
    padding: 0 15px;
    flex: 0 1 25%;
    text-align: center;
}
.link__section {
    padding: 90px 0 60px 0;
}
.contact-us__title {
    font-size: 28px;
    color: #144f82;
}
.contact-us__row {
    display: flex;
    flex-wrap: wrap;
}
.contact-us__column {
    padding: 250px 15px 130px 15px;
    flex: 0 1 33.33%;
    position: relative;
}
.contact-us__column:nth-child(2n) {
    padding: 250px 15px 130px 50px;
    flex: 0 1 33.33%;
    position: relative;
}
._ibg_contact-us img {
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 800px;
    top: 0;
    left: 0;
    object-fit: cover;
}
.contact-us_menu {
    padding: 10px 0 0 0;
}
.contact-us__list {
    padding: 10px 0 0 0;
}
.contact-us__link {
    font-size: 16px;
    font-weight: 400;
}
.contact-us__item:not(:last-child) {
    margin: 0 0 8px 0;
}
.contact-us__item {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
.contact-footer__item {
    font-size: 16px;
    font-weight: 400;
}
.contact-us__bottom {
    padding: 10px 0;
}
.contact-us__section {
    display: flex;
    align-items: flex-end;
}
.contact-us__copy {
    padding: 8px 0 8px 0;
    font-size: 16px;
    flex: 0 1 70%;
}
.contact-us__social {
    width: 100%;
    flex: 0 1 30%;
}
.contact-us__social>ul {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: flex-end;
}
.contact-us__social>ul>li {
    padding: 8px 0 8px 20px;
}
.contact-us__links-global {
    padding: 0 0 0 20px;
}
.vertical_border{
    border-left: 2px solid #4C6BA5;
}
.contact-us__links {
    width: 100%;
    flex: 0 1 33.33%;
}
.contact-us__links>ul {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: flex-end;
}
.contact-us__links>ul>li {
    padding: 8px 0 8px 20px;
}
.menu-contact-us__item:not(:last-child) {
    margin: 0 0 8px 0;
}
.menu-contact-us__item a {
    color: #373737;
}
.menu-contact-us__item {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
.footer {
    color: #f1f1f1;
    font-weight: 400;
    background: #14153e;
    /*background: linear-gradient(45deg, #14153e, #187d9b);*/
}
.footer__top {
    padding: 50px 0 30px 0;
}
.footer__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.footer__column {
    padding: 0 15px;
    flex: 0 1 33.33%;
}
.footer__label {
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    margin: 0 0 20px 0;
}
.footer_menu {
    padding: 10px 0 0 0;
}
.menu-footer__list {
    padding: 10px 0 0 0;
}
.menu-footer__link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.menu-footer__item:not(:last-child) {
    margin: 0 0 8px 0;
}
.menu-footer__item {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
.contact-footer__item {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.footer__bottom {
    padding: 10px 0;
}
.footer__section {
    display: flex;
    align-items: flex-end;
}
.footer__copy {
    padding: 8px 0 8px 0;
    color: #fff;
    font-size: 16px;
    flex: 0 1 70%;
}
.footer__social {
    width: 100%;
    color: #fff;
    flex: 0 1 30%;
}
.footer__social>ul {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: flex-end;
}
.footer__social>ul>li {
    padding: 8px 0 8px 20px;
}
.footer__links-global {
    padding: 0 0 0 20px;
}
.vertical_border{
    border-left: 2px solid #4C6BA5;
}
.footer__links {
    width: 100%;
    flex: 0 1 33.33%;
}
.footer__links>ul {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: flex-end;
}
.footer__links>ul>li {
    padding: 8px 0 8px 20px;
}
.footer__links-global {
    color: #f1f1f1;
}
.footer__logo {
    flex: 0 0 200px;
    position: relative;
    z-index: 1;
}
.footer__logo img{
    max-width: 190px;
}
.footer__title {
    padding: 10px 0 30px 0;
    font-weight: 600;
    font-size: 22px;
}
.social_icon {
    float: left;
}
.social_icon__header {
    float: right;
}
.social__item-header {
    padding: 0 0 0 15px;
    color: #4c6ba5;
    font-size: 20px;
    font-weight: 400;
}
.langs_icon__header {
    float: right;
}
.langs__item-header {
    padding: 0 15px 0 10px;
    font-size: 14px;
}
.langs__item-header img{
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}
.langs_active {
    position: relative;
    font-size: 20px;
    top: -2px;
}
.social__item {
    font-size: 42px;
    color: #f1f1f1;
    margin: 5px;
}
.social_icon:first-child {
    margin: 0 0 0 -5px;
}
.social_icon > a {
    color: #f1f1f1;
}
.menu-footer__item > i {
    float: left;
    border: 1px solid #4C6BA5;
    padding: 10px 15px 10px 15px;
    margin: 0 10px 0 0;
    width: 52px;
    font-size: 22px;
    color: #4C6BA5;
}
.footer__list-first {
    font-weight: 600;
    font-size: 16px;
}
.footer__list-second {

}
.menu-footer__item a {
    color: #f1f1f1;
}
.vacancy_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.vacancy_card {
    height: 300px;
    flex: 0 1 49%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    text-align: left;
    position: relative;
    margin: 10px 0 10px 0;
    top: 0;
    left: 0;
}
.vacancy_text {
    padding: 30px;
    margin: 25px;
}
.horizontal_line_vacancy {
    margin: 30px 0;
    border: 1px solid #545454;
}
.vacancy_title {
    font-size: 32px;
}
.vacancy_place_icon {
    padding: 25px 0 0 0;
    font-size: 32px;
}
.vacancy_city {
    padding: 15px 0 0 0;
    font-size: 28px;
    color: #818181;
}
.vacancy_salary {
    font-size: 32px;
    font-weight: 400;
}
.vacancy_bottom_section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    padding: 25px 0 0 0 ;
    text-align: center;
    background: linear-gradient(45deg, #00D23F, #009020);
    border-radius: 0 0 20px 20px;
    color: #f1f1f1;
    font-weight: 400;
    font-size: 28px;
    overflow: hidden;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.vacancy_bottom_section:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #ffffff71, transparent);
    transform: translateX(-400px) skew(-20deg);
    transition: transform 0.5s;
}
.vacancy_bottom_section:hover:before {
    transform: translateX(650px) skew(-20deg);
}
.vacancy_bottom_section:hover {
    background: linear-gradient(45deg, #01da42, #009822);
}

.vacancy_link {
    display: flex;
    color: #fff;
    font-weight: 600;
}
.vacancy_link-block {
    flex: 0 1 25%;
    padding: 12px;
    margin: 10px 0 10px 20px;
    background-color: #5677e1;
    min-height: 100%;
}
.vacancy_link-block_second {
    flex: 0 1 50%;
    padding: 12px;
    margin: 10px 20px 10px 20px;
    background-color: #5677e1;
    display: flex;
    justify-content: space-between;
}
.vacancy_text {
    font-size: 20px;
    padding: 10px;
}
.vacancy_response {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
.salary_div {
    flex: 0 1 40%;
    padding: 12px;
    width: 100%;
    font-size: 20px;
}
.salary_div-end {
    flex: 0 1 40%;
    padding: 12px;
    width: 100%;
    font-size: 20px;
    background-color: #fff;
    color: #0c0c0d;
}
.vacancy-select {
    font-size: 22px;
    position: absolute;
    width: 80%;
    height: 40px;
}
.li-search {
    background-color: #405a8a;
}
.square {
    margin: 0;
    font-weight: 400;
}
.square li {
    position: relative;
    transition: .2s linear;
}
.color_for_old {
    background-color: #5677e1;
}
.square li:last-child {margin-bottom: 0;}
.square li:before {
    counter-increment: li;
    position: absolute;
    top: -2px;
    left: -2em;
    width: 2em;
    margin-right: 10px;
    padding: 15px;
    border-top: 2px solid #a1a1a1;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background: #a1a1a1;
    color: #373737;
    font-weight: bold;
    text-align: center;
    transition: .5s linear;
}
.square li:hover {
    color: #0033a2;
}
.square .header-ul-block li:hover {
    background: none;
}
.square li:hover:before {
    background: #5a9bff;
}

.li-text {
    background-color: #f1f1f1;
}
.li-text:hover {
    color: #0033a2;
    margin: 10px 55px 10px 55px;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    background: #f1f1f1;
}
.header-ul-block {
    margin: 0 0 20px 0 ;
    padding: 30px;
    position: relative;
    background: #4558be;
}
.search-block {
    padding: 20px 0 55px 0;
    margin: 0 0 30px 0;
    position: relative;
    flex: 0 1 100%;
}
.link-block {
    padding: 20px 30px 20px 20px;
    position: relative;
    flex: 0 1 100%;
}
.link-block-second {
    background: #9fa5b4;
    margin: 20px 0 20px 0 ;
    padding: 20px 30px 40px 20px;
    position: relative;
    flex: 0 1 100%;
}
.first_div {
    font-size: 22px;
    position: absolute;
    padding: 0 0 0 40px;
    width: auto;
    height: 40px;
    max-width: 65%;
}
.first_div-select {
    font-size: 22px;
    position: absolute;
    padding: 0 0 0 40px;
    width: 80%;
    height: 40px;
}
.search-block .first_div {
    font-size: 22px;
    position: absolute;
    padding: 0 0 0 40px;
    width: auto;
    height: 60px;
}
.second_div {
    position: absolute;
    padding: 0 0 0 30%;
    width: 200px;
    height: 40px;
}
.third_div {
    position: absolute;
    padding: 0 0 0 60%;
    width: auto;
    height: 40px;
}
.end_div {
    position: absolute;
    right: 0;
    height: 40px;
    padding: 5px 20px 0 0;
}
.end_div-select  {
    position: absolute;
    right: 0;
    height: 40px;
    /*padding: 0 20px 0 0;*/
}
.footer__google-map_iframe {
    position: relative;
    bottom: -3px;
    /*padding: 0 15px ;*/
    width: 100%;
    height: 500px
}
.active__vacancy-icon {
    position: absolute;
    font-size: 20px;
    padding: 0 ;
    width: 20px;
    height: 20px;
}
a.link{
    color: #eaeaea;
}
a.link_second{
    color: #eaeaea;
}
a.link:hover {color: #fff}
a.link_second:hover {color: #fff}
.row_form .form_title {
    font-size: 20px;
}
.form_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-group {
    /*flex: 0 1 49%;*/

}
.form-group-text {
    flex: 0 1 100%;

}
input[type=text] {
    border: inherit;
    width:100%;
    padding:12px;
    margin: 15px 0;
    border:0;
    font-size: 16px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
input[type=email] {
    width:100%;
    padding:12px;
    margin: 15px 0;
    font-size: 16px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
textarea {
    width:100%;
    resize: vertical;
    padding:15px;
    margin: 15px 0;
    font-size: 16px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:100px;
}
input:focus {
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.27);
}
textarea:focus {
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.27);
}
.form_input:focus {
    outline:none;
    background-color: #e7edff;
}
.just-validate-error-label {
    padding: 0 0 5px 0;
    font-size: 14px;
    font-weight: 400;
}
.button {
    background-color: #3A5199;
    border: none;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button_full {
    background-color: #3A5199;
    border: none;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.search_button {
    background-color: #fff;
    border: none;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}
.search_button_vacancy {
    position: relative;
    background: linear-gradient(45deg, #002d3f, #00567b);
    border-radius: 30px;
    padding: 15px 40px;
    color: #f1f1f1;
    font-size: 22px;
    font-weight: 400;
    display: block;
    transition: background-color 0.5s;
    overflow: hidden;
    text-decoration: none;
}

.search_button_vacancy:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #ffffff71, transparent);
    transform: translateX(-350px) skew(-20deg);
    transition: transform 0.5s;
}
.search_button_vacancy:hover:before {
    transform: translateX(350px) skew(-20deg);
}
.search_button_vacancy:hover {
    background: linear-gradient(45deg, #00435e, #006b9a);
}





.button_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.button_section-us {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.button_item {
    flex: 0 1 33.33%;
    color: #f1f1f1;
}
.button_item-us {
    flex: 0 1 50%;
    color: #f1f1f1;
    text-align: left;
}
.button_item-us:last-child {
    flex: 0 1 50%;
    color: #f1f1f1;
    text-align: right;
}
.gdpr_text {
    padding: 20px 0 0 0;
}
.padding_for_button .gdpr_text {
    color: #373737;
    font-weight: 600;
    text-decoration: underline;
    font-size: 18px;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    display: inline-block;
    background-color: #3A5199;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.custom-file-input:hover::before {
    border-color: black;
}
.custom-file-input:active::before {
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.27);
}
.button__section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 0 40px 0;
}
.vacancies_buttons {
    padding: 20px 0 ;
    /*flex: 0 1 20%;*/
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    max-width: 650px;
    font-size: 18px;
    margin: 120px auto;
}
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #e1e1e1;
    color: #000;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 1px solid #eceeef;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 500;
}
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px 30px;
    overflow: auto;
    font-weight: 400;
    line-height: 1.4;
    text-align: justify;
}
.container {
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input {
    /*position: absolute;*/
    /*opacity: 0;*/
    /*cursor: pointer;*/
    /*height: 0;*/
    /*width: 0;*/
}
.checkmark {
    margin: 0 15px 15px 15px;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
.container input:checked ~ .checkmark {
    background-color: #0a53be;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.button_modal {
    float: left;
}
.button_modal-link {
    background-color: #0a53be;
    color: #fff;
    padding: 10px 20px;
    margin: 0 15px 0 0;
    float: right;
}
.empty_place {
    height: 30px;
    width: 100%;
}
.footer_modal {
    display: flex;
    padding: 0 25px 0 15px;
}
.checkbox_modal {
    flex: 0 1 50%;
}
.button_modal {
    flex: 0 1 50%;
    justify-content: flex-end;
}

.select {
    display: block;
    position: relative;
    background: #fff;
    font-size: 18px;
    outline: 0;
    padding: 9px;
}
.test_color {
    color: #0a53be;
}
.contact_us-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 40px 0;
}
.contact__header-contact_us{
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    width: 100%;
    padding: 0 40px 0 0;
}
.header-contact__title{
    margin-right: auto;
    line-height: 142%;
    font-weight: 600;
    font-size: 28px;
}
.contact_us-block__sub-title {
    margin-right: auto;
    padding: 15px 0 0 0 ;
}
.header-contact__title i {
    font-size: 35px;
    padding: 0 10px 0 0;
    color: #3A5199;
}
._info_contact_us {
    flex: 0 1 65%;
    width: 100%;
}
._form_contact_us {
    flex: 0 1 35%;
    width: 100%;
}
.about_us-footer__item:not(:last-child){
    margin: 0 0 10px 0;
}
.about_us-footer__item{
    color: #373737;
    font-size: 18px;
    font-weight: 400;
    padding: 0 0 0 44px;
}
.about_us-footer__item a {
    color: #373737;
}
.about_us-icon a {
    font-size: 40px;
    color: #3A5199;
    padding: 15px 0 0 0;
}
.about_us-page {
    padding: 80px 0 0 0;
}
#submit {
    font-weight: 600;
    font-family: 'Open Sans', arial, sans-serif;
    padding: 12px 30px;
}
.header-block__title a {
    color: #f1f1f1;
}
.errors {
    text-align: center;
    padding: 190px 0;
    background-color: #f1f1f1;
}
.text-warning {
    font-size: 72px;
}
.error_title {
    font-size: 22px;
    padding: 20px 0 50px 0;
}
.errors_link {
    font-size: 20px;
    color: #f1f1f1;
}
.errors_block {
    padding: 20px 0;
}
.align-right {
    text-align: right;
}
.fa-arrow-right {
    transform: rotate(90deg);
    color: #626262;
}

.vacancy__data ul li {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    left: 15px;
    position: relative;
}
.vacancy__data ul {
    margin: 10px 0 20px 0;
}
.vacancy__data ul li::before {
    color: #00b9ff;
    content: "►";
    font-size: 15px;
    left: -5px;
    position: relative;
}

.other_courses {

}
.recommended_courses {
    padding: 30px 40px;
}
.recommended_cards {
    display: flex;
    margin: 15px 0;
    padding: 0 40px;
}
.recommended_item {
    /*flex: 0 1 25%;*/
    /*height: 100%;*/
    /*justify-content: space-between;*/

    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recommended_card {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 10px;
    border-radius: 5px;
    background-color: #0019240A;
    box-shadow: 0 7px 7px rgb(0 0 0 / 19%);
}
.rec_card_img {
    height: 190px;
    overflow: hidden;
    padding: 10px 35px;
    position: relative;
}
.rec_card_img img {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recommended_card_button {
    flex: 1 1 100%;
    padding: 30px 0 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.rec_card_time_section {
    display: flex;
    flex-wrap: wrap;
    bottom: 55px;
    font-weight: 400;
}
.rec_card_title {
    padding: 0 20px 10px 20px;
}
.laravel-cookies-consent {
    z-index: 1000;
}

@media (max-width: 1450px) {
    .contact-us__column {
        padding: 160px 15px 70px 50px;
        flex: 0 1 33.33%;
        position: relative;
    }
    .contact-us__column:nth-child(2n) {
        padding: 160px 15px 70px 50px;
        flex: 0 1 33.33%;
        position: relative;
    }
    .vacancy_response {
        width: 55%;
    }
}

@media (max-width: 1370px) {
    .main-description__about-us {
        padding: 130px 15px 45px 15px;
    }
    .about_us-string_section {
        padding: 40px 0 0 0;
    }
    .string_section-img {
        padding: 20px 5px 0 0;
    }
    .contact-us__column {
        padding: 130px 15px 70px 50px;
        flex: 0 1 33.33%;
        position: relative;
    }
    .contact-us__column:nth-child(2n) {
        padding: 130px 15px 70px 50px;
        flex: 0 1 33.33%;
        position: relative;
    }
    .vacancy_response {
        width: 60%;
    }
    .social-links__header {
        padding: 10px 0 0 0;
        margin-right: 30px;
        z-index: 50;
    }
}
@media (max-width: 1200px) {
    .main-description__about-us {
        padding: 130px 15px 45px 15px;
    }
    .about_us-string_section {
        padding: 40px 0 0 0;
    }
    .string_section-text {
        line-height: 1.4;
    }
    .string_section-img img {
        height: 70px;
    }
    .contact-block__image img {
        height:100%;
        width:100%;
        left:0;
        border-radius: 0 0 30% 0;
    }
    .section_block_contact {
        position: relative;
        top: -10px;
    }
    .contact-us__column {
        padding: 50px 15px 70px 50px;
        flex: 0 1 33.33%;
        position: relative;
    }
    .contact-us__column:nth-child(2n) {
        padding: 50px 15px 70px 50px;
        flex: 0 1 33.33%;
        position: relative;
    }
    ._ibg_contact-us img {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        object-fit: cover;;
    }
    .project__img {
        flex: 0 1 55%;
    }
    .project__img img {
        width: 80%;
        height: auto;
    }
    .text__section {
        flex: 0 1 45%;
        padding: 70px 0 0 0;
    }
    .search_button_vacancy {
        padding: 15px 30px;
        font-size: 20px;
    }
    .cards__block {
        padding: 0 0 50px 0;
    }
    .rec_card_img {
        padding: 10px 15px;
    }
    .arrow_comments_block .arrow_left {
        left: -40px;
    }
    .arrow_comments_block .arrow_right {
        right: -40px;
    }
    .recommended_cards {
        padding: 0 10px;
    }
}
@media (max-width: 1105px) {
    .vacancy_response {
        width: 68%;
    }
    .card_img {
        padding: 10px 25px;
        height: 240px;
    }
    .about-us__icon img {
        width: 230px;
        height: auto;
    }
}
@media (max-width: 992px) {
    .main-block__info {
        display: flex;
        flex-direction: column;
    }
    .button_block {
        flex: 0 1 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
    }
    .main-block__title {
        text-align: center;
    }
    .header__link {
        font-size: 16px;
    }
    .header__burger {
        margin: 0 15px;
    }
    .social-links__header {
        padding: 10px 15px 0 0;
    }
    .main-block__body {
        padding: 160px 0 60px 0;
    }
    .cards_image_section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card_image {
        margin: 15px 0;
        flex: 0 1 48%;
    }
    .header-block__info {
        padding: 35px 0;
    }
    .cards_comments_section {
        padding: 10px 0 15px 0;
    }
    .card_comment {
        padding: 20px 20px 110px 20px;
    }
    .services__column {
        flex: 0 1 50%;
    }
    .service_img img{
        height: 150px;
    }
    .service_text {
        padding: 10px 0 0 0;
    }
    .header-block__title {
        font-size: 24px;
    }
    .main-block__body-about-us {
        padding: 100px 0 50px 0;
        z-index: 2;
    }
    .main-description__about-us {
        position: relative;
        width: 100%;
        background-color: #142235;
        z-index: 3;
        padding: 20px 15px 40px 15px;
    }
    .about_us-string_section {
        padding: 40px 0 0 0;
    }
    ._ibg-about_us img {
        position: absolute;
        width: 100%;
        height: 500px;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    .main-block__card-about-us {
        margin-right: auto;
        margin-left: auto;
        width: 90%;
    }
    .side_bar-icon {
        font-size: 28px
    }
    .vacancy__form-items {
        flex: 0 1 90%;
    }
    .advantages {
        padding: 30px 0;
    }
    .advantages__column {
        flex: 0 1 50%;
    }
    .card_block {
        flex: 0 1 48%;
        /* margin: 5px 0; */
    }
    .card_img {
        flex: 0 1 250px;
    }
    .card_img img {
        margin: 5px;
    }
    .card_block .horizontal_line {
        display: none;
    }
    .job_employee {
        padding: 10px 0 5px 0;
    }
    .text_employee {
        padding: 10px 0 5px 0;
    }
    .social-links_employee {
        padding: 10px 0 0 0;
    }
    .contact-block__card {
        flex: 0 1 49%;
        z-index: 1;
        padding: 140px 0 150px 0;
    }
    .contact-block__image img {
        height:100%;
        width:100%;
        left:0;
        border-radius: 0 0 30% 0;
    }
    .section_block_contact {
        position: relative;
        top: -10px;
    }
    .contact-us__column {
        padding: 70px 15px 70px 50px;
        flex: 0 1 33.33%;
        position: relative;
    }
    .contact-us__column:nth-child(2n) {
        padding: 70px 15px 70px 50px;
        flex: 0 1 33.33%;
        position: relative;
    }
    .project__img {
        flex: 0 1 55%;
    }
    .project__img img {
        width: 80%;
        height: auto;
    }
    .text__section {
        flex: 0 1 45%;
        padding: 50px 0 0 0;
    }
    .text__section .project__title {
        font-size: 32px;
    }
    .video__block {
        padding: 0 5%;
    }
    .vacancy_response {
        /*text-align: center;*/
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    .cards__block {
        padding: 0 0 50px 0;
    }
    .courses_comments {
        padding: 0 20px 70px 20px;
    }
    .comment_item {
        margin: 0 6px;
    }
    .arrow_left {
        position: absolute;
        top: 100px;
        left: -10px;
        cursor: pointer;
    }
    .arrow_right {
        position: absolute;
        top: 100px;
        right: -10px;
        cursor: pointer;
    }
    .card {
        flex: 0 1 33.33%;
    }
    .recommended_courses {
        padding: 30px 30px;
    }
    .rec_card_img {
        height: 150px;
        padding: 10px 25px;
    }
    .arrow_comments_block .arrow_left {
        /*left: -40px;*/
    }
    .arrow_comments_block .arrow_right {
        /*right: -40px;*/
    }
    .recommended_cards {
        padding: 0;
    }
    .card_img {
        padding: 10px 10px;
        height: 230px;
    }
    .text_block_price {
        flex-direction: column-reverse;
        padding: 0 20px;
    }
    .text_block_price p {
        padding-right: 10px;
    }
}

@media (max-width: 960px) {
    .header-block__title {
        font-size: 36px;
    }
    .header__logo {
        flex: 0 0 150px;
    }
    .square li {
        margin: 0 20px 10px 20px;
    }
    .first_div {
        font-size: 20px;
    }
    .second_block {
        /*flex: 0 1 100%;*/
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 0 20px 0;
    }
    .footer__google-map_iframe {
        height: 400px
    }
    .footer__copy {
        flex: 0 1 55%;
    }
    .footer__social {
        flex: 0 1 45%;
    }
    .footer__links-global {
        padding: 0 0 0 10px;
    }
    .form__card {
        padding: 15px;
        border-radius: 15px;
    }
    .vacancy__data {
        padding: 30px 15px 50px 15px;
    }
    .advantages_page {
        padding: 30px 0;
    }
    .img_block img {
        width: 90%;
    }
    .vacancy_response {
        width: 90%;
    }
    .search_button_vacancy {
        padding: 12px 25px;
        font-size: 20px;
    }
    .title_item_data {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}
@media (max-width: 767px) {
    .modal-dialog {
        max-width: 650px;
        margin: 110px auto;
        padding: 10px;
    }
    .social-links__header {
        padding: 10px 30px 0 0;
    }
    body.lock {
        overflow: hidden;
    }
    .header__body {
        height: 50px;
    }
    .header__burger {
        margin: 0;
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active:before {
        transform:rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform:rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__menu {
        position: fixed;
        top: -110%;
        left: 0;
        width: 100%;
        overflow: auto;
        height: 100%;
        background-color: #142235;
        padding: 50px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }
    .header__menu.active {
        top: 0;
        transition: all 0.3s ease 0s;
    }
    .header__list {
        display: block;
        padding-top: 30px;
    }
    .header__list li{
        margin: 0 -10px 0 -10px;
        padding: 10px 20px;
    }
    .header__list li div{
        width: 100%;
        padding: 6px;
    }
    .header__list li a {
        display: block;
        padding: 10px 0;
    }
    nav.header__menu ul li a:hover:after {
        animation: none;
        -webkit-animation: none;
        -moz-animation: none;
    }
    .header-block__title {
        font-size: 24px;
    }
    .about-us__icon img {
        width: 210px;
        height: auto;
    }
    .about-us__icon img:hover {
        justify-content: center;
        height: auto;
        transform: scale(1.1);
    }
    .cards_comments_section {
        flex-wrap: wrap;
    }
    .card_comment {
        /*height: 250px;*/
        /*padding: 20px 20px 110px 20px;*/
        flex: 0 1 100%;
    }
    .svg_first {
        height: 60px;
    }
    ._ibg-about_us img {
        position: absolute;
        width: 100%;
        height: 500px;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    .main-block__card-about-us {
        padding: 20px;
    }
    .vacancy__block {
        flex-wrap: wrap-reverse;
        padding: 5px 0;
    }
    .advice__text {
        flex: 0 1 100%;
    }
    .vacancy__text {
        flex: 0 1 100%;
    }
    .vacancy__form-items {
        flex: 0 1 100%;
        padding: 0 15px;
    }
    .vacancy-side_bar {
        flex: 0 1 100%;
        padding: 0 0 10px 0;
    }
    .side_bar-head {
        height: 50px;
    }
    .header-side_bar {
        display: flex;
        padding: 0 0 5px 5px;
        justify-content: space-between;
    }
    .side_bar-head_title,.side_bar-title {
        display: none;
    }
    .side_bar-box {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        flex: 0 1 25%;
        border-bottom: none;
    }
    .side_bar-icon {
        justify-content: center;
        flex-direction: column-reverse;
        /*text-align: center;*/
        width: 100%;
        padding: 15px;
    }
    .side_bar-text {
        text-align: center;
        width: 100%;
        margin: 0;
    }
    .page__vacancy ._container {
        padding: 10px;
    }
    .vacancy__text {
        padding: 0 15px 0 15px
    }
    .logo_text {
        font-size: 18px;
        padding: 15px;
    }
    .block::after {
        margin-left: -70px;
        border: 70px solid transparent;
        border-bottom: 50px solid #142235;
    }
    .advantages {
        padding: 10px 0;
    }
    .advantages_page {
        padding: 15px 0 30px 0;
    }
    .vacancies__header {
        padding: 0 0 20px 0;
    }
    .square li {
        margin: 0 20px 10px 20px;
    }
    .first_div {
        padding: 0 0 0 30px;
        font-size: 20px;
    }
    .first_div-select {
        padding: 0 0 0 20px;
    }
    .end_div {
        width: 120px;
        padding: 5px 5px 0 0;
    }
    .link-block {
        padding: 20px 10px 20px 10px;
    }
    .link-block-second {
        padding: 10px 30px 50px 10px;
    }
    .link-block-second .first_div{
        padding: 10px 0 0 30px;
    }
    .menu-footer__item:not(:last-child){
        margin: 0 0 10px 0;
    }
    .footer__top {
        padding: 30px 0 30px 0;
    }
    .footer__copy {
        font-size: 14px;
        flex: 0 1 55%;
    }
    .footer__social {
        font-size: 14px;
        flex: 0 1 45%;
    }
    .footer__social>ul>li {
        padding: 8px 0 8px 10px;
    }
    .footer__links-global {
        padding: 0 0 0 10px;
    }
    .vacancy_card {
        flex: 0 1 100%;
        height: 250px;
        text-align: center;
    }
    .vacancy_title {
        padding: 10px 0 0 0;
    }
    .vacancy_place_icon {
        padding: 10px 0 0 0;
        position: relative;
        right: 100px;
    }
    .horizontal_line_vacancy {
        margin: 15px 0;
    }
    .vacancy_city {
        position: relative;
        bottom: 35px;
        padding: 30px 0 0 0 ;
    }
    .vacancy_salary {
        position: relative;
        bottom: 10px;
        padding: 0;
    }
    .vacancy_bottom {
        display: block;
        position: relative;
        bottom: 10px;
    }
    .footer__column:first-child {
        flex: 0 1 100%;
        display: flex;
        justify-content: space-between;
    }
    .footer__column {
        flex: 0 1 49%;
    }
    .footer__title {
        flex: 0 1 50%;
        font-weight: 600;
        font-size: 22px;
        padding: 10px 0 0 0;
    }
    .footer_menu {
        flex: 0 1 50%;
        padding: 0 0 20px 0;
    }
    .social_icon {
        padding: 0 0 0 10px;
    }
    .contact__block {
        padding: 40px 0;
    }
    ._info_contact_us {
        flex-direction: column;
        flex: 0 1 100%;
        width: 100%;
    }
    ._form_contact_us {
        flex-direction: column;
        flex: 0 1 100%;
        width: 100%;
    }
    .section_block {
        padding: 30px 0 50px 0;
    }
    .first_block {
        flex: 0 1 100%;
    }
    .header-block__title {
        font-size: 32px;
    }
    .contact-block__body {
        flex-wrap: wrap;
    }
    .contact-block__card {
        flex: 0 1 100%;
        padding: 0;
        font-size: 36px;
    }
    .other-block__title {
        padding: 120px 0 30px 0;
    }
    .contact-block__card {
        padding: 0 0 30px 0;
    }
    .contact-block__image img {
        border-radius: 0;
    }
    .page__vacancy {
        padding: 0;
    }
    .header-block {
        padding: 0;
    }
    .page__vacancy {
        padding: 5px;
    }
    .contact-us__column:first-child {
        display: none;
    }
    .contact-us__column:nth-child(2n) {
        padding: 50px 15px 40px 15px;
        flex: 0 1 50%;
        position: relative;
    }
    .contact-us__column {
        padding: 50px 15px 40px 50px;
        flex: 0 1 50%;
        position: relative;
    }
    .main-block__image img {
        border-radius: 0;
    }
    .main-block__card {
        padding: 30px;
    }
    .main-block__title {
        font-size: 38px;
    }
    .info__card {
        flex: 0 1 50%;
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    .info__image img {
        width: 90%;
        height: auto;
    }
    .info__card .info__title {
        font-size: 30px;
    }
    .project__img {
        flex: 0 1 50%;
    }
    .project__img img {
        width: 100%;
        height: auto;
    }
    .text__section {
        flex: 0 1 50%;
        padding: 40px 0 0 0;
    }
    .text__section .project__title {
        font-size: 28px;
        padding: 0 0 20px 0;
    }
    .project__text li {
        font-size: 18px;
    }
    .project__text {
        padding: 0 0 0 25px;
    }
    .img_block img {
        width: 100%;
    }
    .title_instruction {
        padding: 20px 0 0 0;
    }
    .page__info {
        margin: 40px 0 0 0;
    }
    .video__block {
        padding: 0;
    }
    .vacancy_response {
        width: 100%;
    }
    .search_button_vacancy {
        padding: 10px 25px;
        font-size: 18px;
    }
    .vacancies_buttons {
        padding: 15px 0;
    }
    .cards__block {
        padding: 0 0 50px 0;
    }
    .courses_comments {
        padding: 0 20px 50px 20px;
        /*padding: 0 0 70px 0;*/
    }
    .courses_comment {
        flex: 0 1 50%;
    }
    .card_img {
        padding: 10px 14% 0 14%;
        height: 210px;
    }
    .card {
        flex: 0 1 50%;
    }
    .courses_title_text {
        max-width: 100%;
    }
    .social-links__header {
        margin-right: 0;
    }
    .recommended_item {
        flex: 0 1 50%;
    }
    .recommended_cards {
        flex-wrap: wrap;
    }
    .rec_card_img {
        padding: 10px 75px;
    }
    .double_section {
        flex-direction: column;
    }
    .header-block_left {
        flex: 0 1 100%;
        padding: 0 0 20px 0;
    }
    .video_block {
        flex: 0 1 100%;
        padding: 20px 0 20px 0;
    }
    .header-block__sub-text {
        font-size: 20px;
    }
    .card_block {
        flex: 0 1 50%;
        flex-wrap: wrap;
    }
    .card_img img {
        margin: 5px;
        width: 80%;
    }
    .card_title {
        float: 0 1 20%;
        padding: 0 20px 10px 20px;
    }
}
@media (min-width: 670px) {
    .services__body{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px -30px;
    }
}
@media (max-width: 670px) {
    .cards_image_section {
        display: flex;
        flex-wrap: wrap;
    }
    .card_image {
        flex: 0 1 48%;
    }
    .info__container {
        padding: 40px 10px;
        font-weight: 400;
    }
    .section_block {
        padding: 20px 0 0 0;
    }
    .page__vacancies ._container {
        padding: 0 15px;
    }
    .square li {
        margin: 0 0 10px 0;
    }
    .first_div {
        padding: 0 0 0 30px;
        font-size: 18px;
    }
    .first_div-select {
        padding: 0;
        margin: 0 0 0 -10px;
    }
    .end_div {
        width: 110px;
        padding: 5px 0 0 0;
    }
    .end_div-select  {
        padding: 0 10px 0 0;
    }
    .link-block-second {
        padding: 10px 30px 50px 20px;
    }
    .link-block-second .first_div{
        padding: 10px 0 0 20px;
    }
    .langs__item-header {
        padding: 0 10px 0 5px;
        font-size: 20px;
    }
    .social__item-header {
        padding: 0 0 0 10px;
    }
    .cards_comments_section {
        /*height: 750px;*/
    }
    .footer__section {
        flex-wrap: wrap-reverse;
    }
    .footer__copy {
        flex: 0 1 100%;
        text-align: center;
    }
    .footer__social {
        flex: 0 1 100%;
    }
    .footer__social>ul {
        justify-content: center;
    }
    .footer__social>ul>li {
        padding: 8px 10px 8px 0;
    }
    .footer__container {
        padding: 0 5px;
    }
    .card_block {
        flex: 0 1 100%;
    }
    .photo_employee img{
        position: relative;
        width: 50%;
        height: 100%;
        float: right;
    }
    .info__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .info__block {
        flex: 0 1 49%;
        margin: 0 0 20px 0;
    }
    .info__block:nth-child(2) {
        border-right: none;
    }
    .project__container {
        padding: 40px 0 ;
    }
    .cards__block {
        padding: 0 0 50px 0;
    }
    .card_item {
        margin: 10px;
    }
    .header-block__text_last-section {
        width: 90%;
    }
    .title_item_data {
        font-size: 20px;
    }
    .text_item_data {
        font-size: 16px;
    }
    .data_of_section {
        padding: 30px 0;
    }
    .rec_card_img {
        padding: 10px 55px;
    }
    .header-block_left {
        padding: 0 0 10px 0;
    }
    .video_block {
        padding: 10px 0 50px 0;
    }
    .text_block_price {
        padding: 0 10px;
    }
    .text_block_price p {
        padding-right: 10px;
        font-size: 18px;
    }
    .text_block_price span {
        font-size: 20px;
    }
    .card_block_item {
        flex-direction: row;
    }
    .card_img {
        padding: 10px;
    }
    .card_title {
        padding-top: 20px;
    }
    .card_text {
        padding-top: 20px;
        flex: 0 1 30%;
        font-size: 18px;
    }
    .price-block__body {
        padding: 80px 0 70px 0;
    }
}
@media (max-width: 576px) {
    .modal-header {
        padding: 15px 20px;
    }
    .modal-body {
        padding: 15px 20px;
    }
    .footer_modal {
        padding: 0 20px 0 5px;
    }
    .modal-dialog {
        max-width: 500px;
        margin: 110px auto;
        padding: 10px;
    }
    .phone-number {
        padding: 11px 0 0 0;
        z-index: 115;
    }
    .text_instruction {
        padding: 10px 0 0 0;
    }
    .rec_card_img {
        padding: 10px 30px;
    }

    .card_block_item {
        flex-direction: column;
    }
    .card_img img {
        width: 120px;
    }
    .card_img {
        flex: 0 0 140px;
    }
    /* 
    .card_title {
        padding-top: 20px;
    }
    .card_text {
        padding-top: 20px;
        flex: 0 1 30%;
        font-size: 18px;
    }
    .price-block__body {
        padding: 80px 0 70px 0;
    } */
}
}
@media (max-width: 560px) {
    .header-block__title {
        font-size: 22px;
    }
    .about-us__icon img {
        width: 150px;
        height: auto;
    }
    .about-us__icon img:hover {
        justify-content: center;
        width: 200px;
        height: auto;
        transform: scale(1.1);
    }
    .string_section-title {
        font-size: 18px;
    }
    .string_section-text {
        font-size: 14px;
    }
    .string_section-img {
        padding: 5px;
    }
    .svg_first {
        height: 50px;
    }
    .info__container {
        padding: 30px 5px;
        font-weight: 400;
    }
    .page__info {
        margin: 40px 0 0 0;
    }
    .service_img img{
        height: 80px;
        padding: 0 10px 0 0;
    }
    .service_text {
        font-size: 14px;
        padding: 0;
    }
    .vacancy_icon {
        font-size: 38px;
    }
    .side_bar-text {
        font-size: 16px;
    }
    .page__vacancy ._container {
        padding: 5px;
    }
    .vacancy__text {
        padding: 0 10px 0 10px
    }
    .block::after {
        margin-left: -50px;
        border: 50px solid transparent;
        border-bottom: 35px solid #142235;
    }
    .advantages {
        padding: 0;
    }
    .advantages__header{
        margin: 0 0 50px 0;
    }
    .advantages__column {
        flex: 0 1 100%;
    }
    .square li {
        margin: 0 0 10px 0;
    }
    .first_div {
        padding: 0 0 0 30px;
        font-size: 16px;
    }
    .end_div-select  {
        padding: 0 10px 0 0;
    }
    .first_div-select {
        padding: 0;
        margin: 0 0 0 -10px;
    }
    .link-block-second {
        padding: 10px 30px 50px 20px;
    }
    .link-block-second .first_div{
        padding: 10px 0 0 20px;
    }
    #map {
        height: 380px;
        width: 100%;
    }
    .contact-footer__item{
        font-size: 14px;
    }
    .menu-footer__item{
        font-size: 16px;
    }
    .footer__label{
        font-size: 20px;
    }
    .cards_comments_section {
        /*height: 780px;*/
    }
    .footer__column {
        flex: 0 1 100%;
        padding: 0 15px 20px 15px;
    }
    .social_icon {
        padding: 0 0 10px 0;
    }
    .main-block__card {
        padding: 20px;
    }
    .main-block__title {
        font-size: 34px;
    }
    .main-block__button_lg-blue {
        padding: 15px 100px;
    }
    .main-block__button_lg {
        padding: 15px 100px;
    }
    .card_image {
        flex: 0 1 48%;
    }
    .vacancy_text {
        margin: 15px;
    }
    .vacancy_title {
        font-size: 28px;
    }
    .vacancy_salary {
        font-size: 26px;
    }
    .vacancy_city {
        font-size: 24px;
    }
    .contact-us__column:nth-child(2n) {
        padding: 30px 15px 10px 15px;
        flex: 0 1 100%;
        position: relative;
    }
    .contact-us__column {
        padding: 10px 15px 10px 15px;
        flex: 0 1 100%;
        position: relative;
    }
    .info__card {
        flex: 0 1 100%;
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .info__image img {
        width: 80%;
        height: auto;
    }
    .info__card .info__text {
        padding: 10px 0 0 0;
    }
    .info__card .info__text:last-child {
        padding: 10px 0 40px 0;
    }
    .project__img {
        flex: 0 1 45%;
    }
    .project__img img {
        width: 100%;
        height: auto;
    }
    .text__section {
        flex: 0 1 55%;
        padding: 30px 0 0 0;
    }
    .text__section .project__title {
        font-size: 24px;
        padding: 0 0 10px 0;
    }
    .project__text li {
        font-size: 18px;
    }
    .project__text {
        padding: 0 0 0 25px;
    }
    .img_block {
        display: none;
    }
    .text_block {
        flex: 0 1 100%;
    }
    .text_instruction {
        padding: 0;
    }
    .card {
        flex: 0 1 100%;
    }
    .cards__block {
        padding: 0 0 50px 0;
    }
    .courses_comments {
        padding: 0 20px 30px 20px;
        flex-wrap: wrap;
    }
    .courses_comment {
        flex: 0 1 100%;
        padding: 5px;
    }
    .arrow_left {
        top: 200px;
        left: -10px;
        cursor: pointer;
    }
    .arrow_right {
        top: 200px;
        right: -10px;
        cursor: pointer;
    }
    .card_item {
        margin: 10px;
        position: relative;
    }
    .card_img {
        padding: 10px 20% 0 20%;
        height: 220px;
    }
    .card_img_title_second {
        display: block;
        padding: 80px 0 10px 20px;
        width: 50%;
    }
    .card_img_title {
        display: none;
    }
    .card_title {
        width: 50%;
    }
    .header-block__text_last-section {
        width: 100%;
        font-size: 18px;
    }
    .time_data_block {
        flex-wrap: wrap;
    }
    .time_data_block {
        padding: 30px 0;
    }

    .item_data:nth-child(1) {
        flex: 0 1 50%;
    }
    .item_data:nth-child(2) {
        flex: 0 1 50%;
        border-right: none;
    }
    .item_data:nth-child(3) {
        flex: 0 1 33.33%;
    }
    .item_data:nth-child(4) {
        flex: 0 1 33.33%;
    }
    .item_data:nth-child(5) {
        flex: 0 1 33.33%;
    }
    .title_item_data {
        font-size: 18px;
        padding: 10px 0;
    }
    .text_item_data {
        font-size: 14px;
        padding: 10px 0;
    }
    .header-block__info {
        padding: 25px 0;
    }
    .other_courses {
        display: none;
    }
    .card_days {
        flex: 0 1 40%;
    }
    .card_img_title_second {
        padding: 20px 0 10px 20px;
    }
}
@media (max-width: 479px) {
    .header__title {
        display: none;
    }
    .menu__link {
        font-size: 18px;
    }
    .main-block__body {
        padding: 120px 0 20px 0;
    }
    .main-block__card {
        padding: 30px;
    }
    .main-block__title {
        font-size: 26px;
    }
    .main-block__text {
        font-size: 16px;
    }
    .services__item{
        padding: 15px;
    }
    .service_img img{
        height: 110px;
    }
    .string_section-img {
        flex: 0 1 20%;
    }
    .string_section-img img {
        margin: 10px 0 0 0;
        width: auto;
        height: 70px;
    }
    .main-block__body-about-us {
        padding: 50px 0 50px 0;
    }
    .button_section {
        flex-wrap: wrap;
    }
    .button_item {
        flex: 0 1 100%;
    }
    .button_full {
        width: 100%;
    }
    .custom-file-input::before {
        width: 100%;
    }
    .footer__copy {
        padding: 5px 10px;
        flex: 0 1 100%;
        justify-content: flex-start;
    }
    .footer__social {
        flex: 0 1 100%;
        justify-content: flex-start;
    }
    .footer__social>ul {
        justify-content: center;
    }
    .footer__social>ul>li {
        padding: 8px 10px 8px 0;
    }
    .footer__container {
        padding: 0 5px;
    }
    .footer__google-map iframe {
        width: 400px;
        height: 300px
    }
    .cards_comments_section {
        /*height: 810px;*/
    }
    .vacancy_icon {
        font-size: 32px;
    }
    .vacancy_block-text {
        font-size: 14px;
    }
    .text_employee {
        font-size: 12px;
    }
    .main-block__button_lg-blue {
        padding: 15px 75px;
    }
    .main-block__button_lg {
        padding: 15px 75px;
    }
    .numbers__block {
        flex: 0 1 50%;
        padding: 30px 0;
    }
    .card_image {
        margin: 0;
        flex: 0 1 48%;
        padding: 15px 0;
    }
    .card_image-text {
        font-size: 20px;
        padding: 15px 0 0 0;
    }
    .vacancy_text {
        margin: 15px;
    }
    .vacancy_text {
        margin: 15px;
    }
    .vacancy_title {
        font-size: 28px;
    }
    .vacancy_salary {
        font-size: 24px;
    }
    .vacancy_city {
        font-size: 24px;
    }
    .text-section__title {
        font-size: 32px;
    }
    .text-section__text {
        font-size: 26px;
        font-weight: 400;
    }
    .text-section-link__block {
        padding: 60px 0 60px 0;
    }
    .project__img img {
        display: none;
    }
    .text__section {
        flex: 0 1 100%;
        padding: 30px 0 0 0;
    }
    .text__section .project__title {
        font-size: 24px;
        padding: 0 0 10px 0;
    }
    .project__text li {
        font-size: 18px;
        padding: 10px 0 0 0;
    }
    .project__text {
        padding: 0 0 0 25px;
    }
    .social_icon:first-child {
        margin: 0 0 0 15px;
    }
    .arrow_left {
        top: 250px;
        left: -10px;
        cursor: pointer;
    }
    .arrow_right {
        top: 250px;
        right: -10px;
        cursor: pointer;
    }
    .card_item {
        margin: 10px 0;
        position: relative;
    }
    .card_img {
        padding: 10px 15% 0 15%;
    }
    .text_block_price {
        padding: 0;
    }
}
@media (max-width: 376px) {
    .about-us__icon {
        padding: 5px;
    }
    .about-us__header {
        padding: 10px 0 0 0;
    }
    .string_section-title {
        font-size: 16px;
    }
    .string_section-text {
        font-size: 12px;
    }
    .string_section-img img {
        margin: 10px 0 0 0;
        width: auto;
        height: 65px;
    }
    .phone-number {
        font-size: 10px;
        width:135px;
    }
    .phone-number a {
        line-height: 1.5;
        font-size: 16px;
    }
    .main-block__button_lg-blue {
        padding: 15px 50px;
    }
    .main-block__button_lg {
        padding: 15px 50px;
    }
    .card_img_title_second {
        padding: 10px 0 10px 20px;
    }
}
@media (max-width: 374px) {

    .item_data:nth-child(1) {
        flex: 0 1 100%;
        border-right: none;
    }
    .item_data:nth-child(2) {
        flex: 0 1 100%;
        border-right: none;
    }
    .item_data:nth-child(3) {
        flex: 0 1 100%;
        border-right: none;
    }
    .item_data:nth-child(4) {
        flex: 0 1 100%;
        border-right: none;
    }
    .item_data:nth-child(5) {
        flex: 0 1 100%;
        border-right: none;
    }
}


.toll-block__image img {
    height:100%;
    width:100%;
    left:0;
    /*border-radius: 0 0 60% 0;*/
}
.card_title_toll {
    padding: 0 10px 60px 10px;
}

.main-block__body-modules {
    padding: 250px 0 200px 0;
    position: relative;
    z-index: 1  ;
}
.modules_section {
    justify-content: center;
    /*position: relative;*/
}
.modules_section .flex_block {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}
.modules_section .data_of_section {
    flex: 0 1 70%;
    padding: 60px 0;
    margin-right: auto;
    margin-left: auto;
}
.modules_section .section_title {
    font-size: 40px;
}
.modules_section .section_title_second {
    padding-top: 50px;
    font-size: 22px;
}
.modules_section .detail_section {
    padding-top: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    width: 100%;
}
.detail_section_second {
    padding-top: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    width: 100%;
}
.modules_section .detail_section ul li {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
    text-indent: 20px;
}
.modules_section .detail_section_second ul li {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
    text-indent: 20px;
}
.modules_section .image_section {
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: auto;
    margin-top: auto;
    position: relative;
    left: 50px;
}
.modules_section .image_section img {
    width: 80%;
    height: auto;
}
.first_image {
    padding-bottom: 20px;
}
.second_image {
    padding-top: 20px;
}
.image_first_block {
    position: absolute;
    /*text-align: center;*/
    width: 100%;
}
.image_first_block img {
    width: 20%;
    height: auto;
}
.card_img_toll {
    height: 260px;
    overflow: hidden;
    padding: 10px 50px;
    position: relative;
    text-align: center;
}
.card_img_toll img {
    margin-top: 15px;
    flex: 1 1 auto;
    width: 85%;
    height: 85%;
    object-fit: cover;
    transition: 0.4s;
}
.card_item:hover .card_img_toll img {
    margin-top: 2px;
    width: 92%;
    height: 92%;
}
.card_company_toll {
    padding: 0 20px 10px 20px;
    font-size: 12px;
    color: #6A6868;
    font-weight: 400;
}
.card_toll {
    flex: 0 1 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cards__block_toll {
    display: flex;
    padding: 0 30px 50px 30px;
}
@media (max-width: 1105px) {
    .card_img_toll {
        padding: 10px 25px;
        height: 240px;
    }
}
@media (max-width: 960px) {
    .modules_section .flex_block {
        display: flex;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .card_img_toll {
        padding: 10px 10px;
        height: 230px;
    }
}

@media (max-width: 767px) {
    .modules_section .data_of_section {
        flex: 0 1 100%;
    }
    .modules_section .image_section {
        display: none;
    }
    .card_toll {
        flex: 0 1 50%;
    }
    .card_img_toll {
        padding: 10px 14% 0 14%;
        height: 210px;
    }
}

@media (max-width: 560px) {
    .card_title_toll {
        padding: 0 10px 50px 10px;
    }
    .card_img_title_second {
        width: 45%;
    }
    .modules_section .flex_block {
        display: flex;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px;
    }
    .card_toll {
        flex: 0 1 100%;
    }
    .card_toll .card_img_title_second {
        padding: 30px 0 10px 20px
    }
    .card_img_toll {
        padding: 10px 20% 0 20%;
    }
}
@media (max-width: 479px) {
    .card_img_toll {
        padding: 10px 15% 0 15%;
    }
    .card_toll .card_img_title_second {
        padding: 20px 0 10px 20px
    }
}
