/*
Zerotheme.com | Free Html5 Responsive Templates
Author URI: https://www.zerotheme.com/
*/
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Cabin);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
/* ---------------------------------------------------------------------------- */
/* ------------------------------------Reset----------------------------------- */
/* ---------------------------------------------------------------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}


/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
::-moz-selection{background: #000 none repeat scroll 0 0;color: #fff;text-shadow:none}
::selection{background: #000 none repeat scroll 0 0;color: #fff;text-shadow:none}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

a{color: #333;text-decoration: none;}
a:hover {color: #628d7c; text-decoration: none;}

h1, h2 	{font-size: 25px;line-height: 30px;}
h3, h4	{font-size: 20px;line-height: 20px;}
h5, h6	{font-size: 16px;line-height: 16px;}

h1, h2, h3, h4, h5, h6{clear: both;hyphens: auto; color: #000;line-height: 1.2;font-family: 'Montserrat', sans-serif;letter-spacing: 1px;}

p{margin: 10px 0;}

label {cursor:pointer;margin:5px 0;display:block;font-weight:bold;}
input {display:block;width:50%;color:#222;border:1px solid #d1d1d1;padding:15px;margin: 5px 0 20px 0;font-size: 16px;}
input[type="submit"]{padding: 15px;}
textarea {display:block;width:50%;height:60px;background-color:#fff; color:#222;border:1px solid #d1d1d1;padding:10px;margin: 5px 0 20px 0;}

.t-center{text-align: center !important;}
.t-left{text-align: left;}
.t-right{text-align: right;}
.f-right{float: right;}
.f-left{float: left;}

.post{}
.post:after, .post:before, article:after, article:before, section:after, section:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
.post img{margin: 30px 0;}


.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

hr{border: 0;height: 3px;margin: 20px auto;}
hr.line-1{background: #fff;max-width: 30px;}
hr.line-2{background: #333;max-width: 40px;height: 4px;}

.widget-title{font-weight: bold;text-transform: uppercase;line-height: 1.38;margin-bottom: 20px;font-size: 14px;color: #eee;}
/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
html, body {width:100%; height:100%; padding:0; margin:0;}
body {font: 16px/26px Arial, Helvetica, sans-serif;font-family: 'Crimson Text', serif;background: #fff;}
.wrap-body{min-height: 100%; display: flex; flex-direction: column;}
.wrap-body{min-height: 100%;}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Header--------------------------------- */
/* ---------------------------------------------------------------------------- */
header{text-align: center;background: #fff;}
 .logo {color: #333;padding: 20px 0 30px;}
 .logo a{font-family: 'Dancing Script', cursive;font-size: 80px;color: #333;font-weight: bold;display: block;line-height: 1.3;}
 .logo span{font-size: 16px;letter-spacing: 1px;}
@media(max-width:767px){
	 .logo{padding: 30px 0 20px;}
	 .logo a{font-size: 65px;}
	 .logo span{font-size: 16px;}
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Container------------------------------ */
/* ---------------------------------------------------------------------------- */
.home-page{}
.single-page{}
.gallery-page{}
.archive-page{}
.contact-page{}

#container {
    flex: 1 1 auto;
    /*flex: 1 1 auto;*/
    /*max-width: 1200px;*/
    /*margin: 0 auto;*/
    /*padding: 0 15px;*/
    /*box-sizing: content-box;*/
}
#container .wrap-container{}

/* ---content-box--- */
.content-box {}
.content-box .wrap-box {padding: 70px 10px; position: relative;}
.content-box .box-header { margin: 0 0 30px;text-align: center;}
.content-box .box-header h2{font-size: 22px;display: block;text-transform: uppercase;font-weight: 500;}
.content-box .box-content{}

.content-box.box-style-1{background: #ececec;}
.content-box.box-style-2{background: #f7f7f7;}
.content-box.box-style-3{background: url(../images/action-bg.jpg) no-repeat fixed;}

.content-box.box-1 {text-align: center;}

.content-box.box-2 {}

.content-box.box-3 blockquote {position: relative;padding: 20px 100px 0;text-align: center;font-size: 35px; border:none;line-height: 1.2;}
.content-box.box-3 blockquote:before, .content-box.box-3 blockquote:after {position: absolute;width: 50px;height: 50px;font-size: 110px;line-height: 1; }
.content-box.box-3 blockquote:before {top: 0;left: 0;content: "\201C"; }
.content-box.box-3 blockquote:after {top: 0;right: 0;content: "\201D"; }
@media only screen and (max-width: 1100px) {
 .content-box.box-3 blockquote {font-size: 22px; }
 }
@media only screen and (max-width: 960px) {
 .content-box.box-3 blockquote {padding: 30px 40px;font-size: 22px; }
 .content-box.box-3 blockquote:before, .content-box.box-3 blockquote:after {width: 25px;height: 25px;font-size: 47px; }
 }
@media only screen and (max-width: 690px) {
 .content-box.box-3 blockquote {padding: 10px 20px;font-size: 20px; }
 .content-box.box-3  blockquote:before, .content-box.box-3 blockquote:after {font-size: 19px; }
 }

.content-box.box-4 .wrap-box{padding: 0;}
.content-box.box-4 article{padding-bottom: 0;background: #f9f9f9;margin:0;}

/* ---MainContent-Article--- */
#main-content{}
#main-content .wrap-content{padding: 30px 0;}

.gallery-page article{background: #f7f7f7;}
.single-post{}
.single-post .wrap-post, .comments-are {background: #f7f7f7;margin:50px 0 0 0; position: relative;}
.single-post .wrap-post {margin-bottom: 50px;}
article{background: #ffffff; color: #3F3F3F; margin-bottom: 40px;padding-bottom: 5px;}
article:after, article:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
article .post-thumbnail-wrap {text-align: center;width: 100%;/*margin-bottom: 10px;*/}
article .post-thumbnail-wrap img {height:100%; width: 100%; object-fit: cover}
article h3.entry-title{font-size: 20px;margin: 10px 10px;font-weight: 500;letter-spacing: 1px;color: #222;}

article .l-tags{
    /*justify-content: right;*/
    /*justify-content: flex-end;*/
    /*flex: 0 1 auto;*/
    /*flex-direction: column;*/
    font-size: 12px; font-family: 'Crimson Text', serif;text-transform: uppercase;letter-spacing: .9px;
}
article .l-tags a{color: #333;}
/*article .l-tags a:hover{color: #628d7c;}*/

article .entry-header{width: 100%; min-height: 100px}
article.single-post .entry-header{padding: 40px 30px;}
article.single-post .entry-header h2.entry-title{font-family: 'Cabin', Helvetica, sans-serif;font-size: 24px;font-weight: bold;line-height: 30px;color: #111;letter-spacing: 2px;margin: 0;text-transform: uppercase;}
article.single-post .entry-header h2.entry-title a {color: #111;margin: 0;}
article .entry-title-blog a:hover {color: #628d7c;}
article .entry-header .time {font-family: "Merriweather",Georgia,serif;color: #888;font-size: 17px;padding-bottom: 10px;display: block;}
article .entry-header .cat-links {font-size: 15px;font-weight: bold;text-transform: uppercase;letter-spacing: 2px;padding-top: 10px;display: block;}


article .entry-content{ padding: 20px 30px; text-align: left;}
@media(max-width:767px){
	article .entry-content{ padding: 30px 50px;}
}
@media(max-width:480px){
	article.single-post .entry-content{ padding: 30px;}
}
article .entry-content p{font-size: 16px;color: #686868;}
article .entry-content blockquote {border-left: 3px solid #1c7791;font-size: 18px;margin: 0 50px;font-style: italic;color: #666;padding-left: 20px;}
article .entry-content ol {float: left;text-align: justify;margin: 10px 50px;font-size: 16px;list-style-type: circle;}


/* ---------------------------------------------------------------------------- */
/* -------------------------------------Footer--------------------------------- */
/* ---------------------------------------------------------------------------- */
footer{background: #161616;font-size: 15px;color: #999}
footer a{color:#999;font-weight: bold;text-shadow: none;}
footer a:hover{color:#fff;}

footer .wrap-footer{padding: 60px 0;}
footer .wrap-footer ul li {margin-bottom: 5px;padding: 10px 0 15px;}
footer .logo img{max-width: 170px;margin-top: 30px;}
footer .col-footer-1 {}

footer .col-footer-2{}
footer .col-footer-2 ul {padding: 0;}
footer .col-footer-2 ul li {list-style: none;margin-bottom: 5px; border-bottom: 1px solid #444;padding-bottom: 10px;}
footer .col-footer-2 ul li:last-child{border-bottom: none;}
footer .col-footer-2 ul li a{color: #999;font-size: 12px;}
footer .col-footer-2 ul li a:hover{color: #eee;}

footer .col-footer-3 a{color: #999; background: #202020; padding: 5px 10px;line-height: 2.3;font-size: 14px;text-transform: capitalize;margin-right: 1px;}
footer .col-footer-3 a:hover{color: #fff;background: #000;}

footer .col-footer-4 img{margin-bottom: 20px;}

footer .bottom-footer{color: #92907C;text-align: center;padding: 40px 0;border-top: 1px solid #bbb;}
footer .bottom-footer ul li {margin-bottom: 5px;border-bottom: 1px solid #555;padding: 10px 0 15px;}
footer i.fa{font-size: 22px;margin-right: 8px;}
footer .bottom-social{margin-bottom: 20px;}
footer .bottom-social i.fa{font-size: 24px;margin-right: 12px;}

.copyright{}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Contact-------------------------------- */
/* ---------------------------------------------------------------------------- */
#contact_form{background: #f7f7f7;}
#contact_form, #comment {padding:20px 30px;}

#contact_form .sendButton , #comment_form .sendButton {cursor:pointer;background-color:#575756;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;width:20%;color:#ffffff;margin-top: 50px;}
#contact_form .sendButton:hover , #comment_form .sendButton:hover{opacity: 0.8;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Button--------------------------------- */
/* ---------------------------------------------------------------------------- */
a.button{background-color: #161616;padding: 9px 20px;color: #fff;margin-top: 20px;display:inline-block;text-transform: uppercase;font-size: 13px;letter-spacing: 1px;}
a.button:hover{background-color: #333;}

/* ---------------------------------------------------------------------------- */
/* ----------------------------------Carousel---------------------------------- */
/* ---------------------------------------------------------------------------- */
.owl-controls .owl-buttons div {position: absolute;color:#777;opacity: 0.7;}
.owl-carousel:hover .owl-buttons div {color:#fff;}
.owl-controls .owl-buttons .owl-prev {left: 10px;top: 50%;}
.owl-controls .owl-buttons .owl-next {right: 10px;top: 50%;}
.owl-carousel{margin-bottom: 20px;}
.owl-carousel .owl-buttons div i {font-size: 40px;margin: -20px 0 0;}
.owl-carousel .item{position: relative;}

/* ---------------------------------------------------------------------------- */
/* ----------------------------------Portfolio--------------------------------- */
/* ---------------------------------------------------------------------------- */
.portfolio-box {display: block;position: relative;margin: 0 auto;height: 250px; width: 100%}
/*.portfolio-box img {position: absolute}*/
.portfolio-box .portfolio-box-second {display: block;position: absolute;bottom: 0;width: 100%;height: 100%;text-align: center;color: #fff;opacity: 0;background: rgba(0,0,0,.7);-webkit-transition: all 1.45s;-moz-transition: all 1.45s;transition: all 1.45s;}
.portfolio-box .portfolio-box-second .portfolio-box-second-content {position: absolute;top: 50%;width: 100%;text-align: center;transform: translateY(-50%);}



/* ---------------------------------------------------------------------------- */
/* --------------------------------Google-Map---------------------------------- */
/* ---------------------------------------------------------------------------- */
.maps iframe{
    pointer-events: none;
}

/* -------sub__title*------------------------------------------------------------ */
.sub__title {
    font-size: 22px;
    text-align: center;
    padding: 20px;
}


/*-----Avatar-------------------------------------------------------------------*/
.test-1 {
    text-indent: 30px;
}
.likes-size {
    font-size: 24px;
}
.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.avatar_home {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.header__color {
    position: fixed;
    background-color: #161616;
    width: 100%;
    z-index: 2;
}


/*-----likes-------------------------------------------------------------------*/

.likes-size {
    display: flex;
    justify-content: end;
}
.show_views {
    padding: 5px;
    font-size: 18px;
}
.show_likes {
    display: flex;
}
.show_likes button {
    padding: 5px;
    /*width: 100px;*/
    font-size: 16px;
}
.one_like {

}
.portfolio-box:hover .portfolio-box-second {opacity: 1;}

.hover11 img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover11:hover img {
    opacity: .7;
}
.entry-title a:hover{
    color:#222
}
.detail {
    text-align: right;
    padding: 10px 10px 10px 10px;
}
.entry-header {
    position: relative;
}
.l-tags {
    position: absolute;
    bottom:0;
}


/*---Header------------------------------------------------------------------------------*/

.header__menu {
    /*margin: 0 0 0 133px;*/
}
@media (max-width: 992px) {
    .header__menu {
        /*margin: 0 0 0 80px;*/
    }
}
@media (max-width: 767px) {
    .header__menu {
        /*margin: 0 0 0 40px;*/
    }
}
@media (max-width: 479px) {
    .header__menu {
        /*margin: 0 0 0 20px;*/
    }
}

/*----Home-page-----------------------------------------------------*/
.card {
    width: 100%;
    height: 400px;
    display: flex;
}
.first_block {
    flex: 0 1 70%;
    flex-wrap: wrap;
}
.second_block {
    flex: 0 1 30%;
    flex-wrap: wrap;
}
.user_card {
    width: 100%;
}
.card_header {
    font-size: 22px;
    text-align: center;
}
.link_title {
    font-size: 18px;
    padding: 10px;
}

li.last {
    position: absolute;
    right: 0;
}




/*!*---Menu-------------------------------------------------------*!*/


/*.header {*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: 50;*/
/*}*/
/*.header:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: #000;*/
/*    z-index: 2;*/
/*}*/
/*.header__body {*/
/*    position: relative;*/
/*    !*z-index: 2;*!*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    height: 70px;*/
/*    align-items: center;*/
/*}*/
/*.header__logo {*/
/*    flex: 0 0 150px;*/
/*    position: relative;*/
/*    z-index: 2;*/
/*}*/
/*.header__logo img{*/
/*    max-width: 100%;*/
/*}*/
/*.header__burger {*/

/*}*/
/*.header__menu {*/

/*}*/
/*.header__list {*/
/*    display: flex;*/
/*    position: relative;*/
/*    z-index: 2;*/
/*}*/
/*.header__list li {*/
/*    list-style: none;*/
/*    !*margin: 0 0 0 20px;*!*/
/*}*/
/*.header__list li a {*/
/*    display: block;*/
/*    padding: 25px 10px;*/
/*    !*height: 100%;*!*/
/*}*/
/*.header__link {*/
/*    color: #f1f1f1;*/
/*    text-transform: uppercase;*/
/*    font-size: 18px;*/
/*    text-decoration: none;*/
/*    !*line-height: calc(24 / 14 * 100%);*!*/
/*}*/
/*@media (max-width: 767px) {*/
/*    body.lock {*/
/*        overflow: hidden;*/
/*    }*/
/*    .header__body {*/
/*        height: 50px;*/
/*    }*/
/*    .header__logo {*/
/*        flex: 0 0 100px;*/
/*        z-index: 3;*/
/*    }*/
/*    .header__burger {*/
/*        display: block;*/
/*        width: 30px;*/
/*        height: 20px;*/
/*        position: relative;*/
/*        z-index: 3;*/
/*    }*/
/*    .header__burger span {*/
/*        position: absolute;*/
/*        background-color: #fff;*/
/*        left: 0;*/
/*        width: 100%;*/
/*        height: 2px;*/
/*        top: 9px;*/
/*        transition: all 0.3s ease 0s;*/
/*    }*/
/*    .header__burger:before,*/
/*    .header__burger:after {*/
/*        content: '';*/
/*        background-color: #fff;*/
/*        position: absolute;*/
/*        width: 100%;*/
/*        height: 2px;*/
/*        left: 0;*/
/*        transition: all 0.3s ease 0s;*/
/*    }*/
/*    .header__burger:before {*/
/*        top: 0;*/
/*    }*/
/*    .header__burger:after {*/
/*        bottom: 0;*/
/*    }*/
/*    .header__burger.active:before {*/
/*        transform:rotate(45deg);*/
/*        top: 9px;*/
/*    }*/
/*    .header__burger.active:after {*/
/*        transform:rotate(-45deg);*/
/*        bottom: 9px;*/
/*    }*/
/*    .header__burger.active span {*/
/*        transform: scale(0);*/
/*    }*/
/*    .header__menu {*/
/*        position: fixed;*/
/*        top: -100%;*/
/*        left: 0;*/
/*        width: 100%;*/
/*        overflow: auto;*/
/*        height: 100%;*/
/*        background-color: #000;*/
/*        padding: 70px 10px 20px 10px;*/
/*        transition: all 0.3s ease 0s;*/
/*        !*z-index: 3;*!*/
/*    }*/
/*    .header__menu.active {*/
/*        top: 0;*/
/*        transition: all 0.3s ease 0s;*/
/*    }*/
/*    .header__list {*/
/*        display: block;*/
/*    }*/
/*    .header__list li{*/
/*        margin: 0 0 20px 5px;*/
/*    }*/
/*    .header__list li div{*/
/*        width: 100%;*/
/*        padding: 6px;*/
/*    }*/
/*    .header__list li a {*/
/*        display: block;*/
/*        padding: 10px 0;*/
/*    }*/
/*}*/

/*@media (max-width: 479px) {*/
/*    .menu__link {*/
/*        font-size: 18px;*/
/*    }*/
/*}*/

/*nav.header__menu ul li a {*/
/*    position: relative;*/
/*}*/
/*nav.header__menu ul li a:after {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    margin: auto;*/
/*    width: 0;*/
/*    content: '.';*/
/*    color: transparent;*/
/*    background: #aaa;*/
/*    height: 1px;*/
/*}*/

/*nav.header__menu ul li a {*/
/*    transition: all 2s;*/
/*}*/

/*nav.header__menu ul li a:after {*/
/*    text-align: left;*/
/*    content: '.';*/
/*    margin: 0;*/
/*    opacity: 0;*/
/*}*/
/*nav.header__menu ul li a:hover {*/
/*    color: #fff;*/
/*    z-index: 1;*/
/*}*/
/*nav.header__menu ul li a:hover:after {*/
/*    z-index: -10;*/
/*    animation: fill 0.6s forwards;*/
/*    -webkit-animation: fill 0.6s forwards;*/
/*    -moz-animation: fill 0.6s forwards;*/
/*    opacity: 1;*/
/*}*/
